.sidewalk {
  background-color: #977b63;
  box-shadow: -12px 20px 12px 2px rgba(0,0,0,0.5);
}

.earth {
  background-color: #41220d;
  background: linear-gradient(#6e452a, #90542d);
}

.stone {
  border: 1px solid #28160c;
  border-top: 1px solid #7f6447;
  background-color: #8a7e67;
}

.pavement {
  background: linear-gradient(#866850, #a78c6e);
}

.sidewalk div:nth-child(2) {
  background: #ae957d;
}

.sidewalk div:nth-child(3) {
  background: #96836c;
}

.sidewalk div:nth-child(4) {
  background: #a48b72;
}

.sidewalk div:nth-child(5) {
  background: #94836a;
}

.sidewalk div:nth-child(6) {
  background: #a0886c;
}

.sidewalk div:nth-child(7) {
  background: #9a8169;
}

.sidewalk div:nth-child(8) {
  background: #9b856a;
}

.sidewalk div:nth-child(9) {
  background: #9b856a;
}

.sidewalk div:nth-child(10) {
  background: #9b856a;
}

.sidewalk div:nth-child(11) {
  background: #9b856a;
}

.sidewalk div:nth-child(12) {
  background: #ae957d;
}

.sidewalk div:nth-child(13) {
  background: #96836c;
}

.sidewalk div:nth-child(14) {
  background: #a48b72;
}

.sidewalk div:nth-child(15) {
  background: #94836a;
}

.sidewalk div:nth-child(16) {
  background: #a0886c;
}

.sidewalk div:nth-child(17) {
  background: #9a8169;
}

.sidewalk div:nth-child(18) {
  background: #9b856a;
}
/*=============sidewalk & earth Done ==================*/
