$bg-color: #465c6f;
$text-color: ivory;
$baseline: 1vw;

/* At a macro-level: grid-columns (as house-names) are identified from right to left: */
//underscores are simply for readability in the working directory

$colors: (
//====================shingle colors
shing-tan: #8b7665,
shing-br: #534638,
shing-gr: #395440,
);




// NOTE: If a style-rule has a color in it --it doesn't belong in 'layout' file

@import "imports/container_frame";
@import "imports/general";
@import "imports/houses/___white";
@import "imports/houses/___whitelayout";
@import "imports/houses/__peach";
@import "imports/houses/__peachlayout";
@import "imports/houses/_dark";
@import "imports/houses/_darklayout";
@import "imports/houses/brick";
@import "imports/houses/bricklayout";
@import "imports/houses/short";
@import "imports/houses/shortlayout";
@import "imports/street";
@import "imports/streetlayout";
