/* At a macro-level: grid-columns (as house-names) are identified from right to left: */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: .8em; }

/*general outline of photo*/
/*


*/
.div {
  text-align: center;
  overflow: hidden; }

.entire-pic-container {
  margin: 1vh auto;
  width: 1400px;
  height: 800px;
  background: grey;
  display: grid;
  grid-template-columns: 194px 410px 124px 426px 246px;
  /* = 1400 */
  grid-template-rows: 750px 18px 32px;
  /* = 800 */
  /*grid-template-rows: 800px;*/ }

div.entire-pic-container {
  background-color: #d362d9; }

/*===============BRICK HOUSE Profile================*/
/*
8 layers
64px 33 146px 14px 8px 18px 24px 440px;
 */
.brick-house-col {
  display: grid;
  grid-column: 4;
  background: linear-gradient(0deg, #aaa89b 0%, #a1a59d 100%);
  grid-template-rows: 64px 33px 146px 14px 50px 444px; }

.brick-house-col {
  /*background-color: rgb(75, 108, 138);*/
  color: ivory;
  border-bottom: 1px solid white;
  position: relative; }

.brick-sky {
  grid-row: 1;
  position: relative; }

.brick-top-chimneys {
  grid-row: 2;
  position: relative;
  display: grid;
  grid-template-columns: 28px auto 24px;
  grid-template-rows: 12px 21px; }

.brick-top-chimney-capL {
  grid-column: 1;
  grid-row: 1;
  background-color: #b05b3e;
  border-bottom: 3px solid #77371f;
  border-top: 2px solid #9b6d59;
  z-index: 10;
  width: 34px;
  position: relative;
  left: -3px;
  border-radius: 4px; }

.brick-top-chimney-capR {
  grid-column: 3;
  grid-row: 1;
  background: #a15338;
  border-bottom: 3px solid #77371f;
  border-radius: 5px;
  border-top: 2px solid #9b6d59;
  width: 28px;
  height: 14px;
  z-index: 10;
  left: -2px;
  border-radius: 4px;
  position: absolute; }

.brick-top-chimney-bodyL {
  grid-column: 1;
  grid-row: 2;
  background: #a75537;
  box-shadow: inset 0px 0px 2px 1px #73402d;
  z-index: 10; }

.brick-top-chimney-bodyR {
  grid-column: 3;
  grid-row: 2;
  background: #a75537;
  box-shadow: inset 0px 0px 2px 1px #73402d;
  z-index: 10; }

.brick-roof {
  grid-column: 1;
  grid-row: 3;
  background: linear-gradient(0deg, #534f48 0%, #796b61 100%);
  border-top: 3px solid #9e563d;
  border-bottom: 2px solid #45372c;
  z-index: 10;
  box-shadow: 0px -1px 1px 0px #a5694f; }

.brick-gutters {
  display: grid;
  grid-template-columns: 6px auto 5px;
  grid-template-rows: 7px 7px;
  background: fuchsia; }

.brick-gutter-top-left {
  grid-row: 1;
  grid-column: 1;
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62; }

.brick-gutter-top-mid {
  grid-column: 2;
  grid-row: 1;
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62; }

.brick-gutter-top-right {
  grid-column: 3;
  grid-row: 1;
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62; }

.brick-gutter-bot-left {
  background-color: #4c2818;
  grid-column: 1;
  grid-row: 2;
  border: 3px solid #dac3a1;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent; }

.brick-gutter-bot-mid {
  background-color: #dac3a1;
  grid-column: 2;
  grid-row: 2; }

.brick-gutter-bot-right {
  grid-column: 3;
  grid-row: 2;
  background-color: #745746; }

.brick-attic-row {
  display: grid;
  grid-template-columns: 18px auto 15px;
  grid-template-rows: 50px; }

.brick-attic-left {
  grid-column: 1;
  background-color: #b56642; }

.brick-attic-mid {
  grid-column: 2;
  background-color: #c2a382; }

.brick-attic-right {
  grid-column: 3;
  background-color: #b56e52; }

.brick-facade {
  background-color: #b56e52; }

/* dark house profile:  386 + 86 + 142 + 132*/
.dark-house-col {
  background-color: #aa87a9;
  grid-column: 3;
  /*grid-row: 3;*/
  display: grid;
  grid-template-rows: 386px 86px 142px 132px;
  grid-template-columns: 1fr; }

.dark-sky {
  grid-row: 1;
  background: linear-gradient(180deg, #b3b1a6 0%, #adb0a2 40%, #659289 64%, #2e615b 100%);
  border-bottom: 2px solid #4b5545; }

.dark-roof {
  grid-row: 2;
  background: linear-gradient(180deg, #675241 0%, #5a3f29 100%);
  border-top: 3px solid #5d513b;
  border-bottom: 2px solid #76522d; }

/* FIXME:  above the border bot--do "gutters" for dark house */
.dark-facade {
  grid-row: 3;
  background: linear-gradient(140deg, #8d6a45 0%, #724421 100%);
  border-top: 2px solid #805731;
  border-bottom: 1px solid #8d6a45; }

.dark-door {
  grid-row: 4;
  border-top: 2px solid #99734f;
  box-shadow: inset 0px 3px 10px -3px rgba(65, 26, 8, 0.89);
  background: linear-gradient(45deg, #c5a987 0%, #96734f 100%); }

.peach {
  background-color: #7391c3;
  grid-column: 2; }

.short-house {
  background: linear-gradient(180deg, #88928a 0%, #516d68 40%, #182120 64%, #182120 100%);
  grid-column: 5; }

.short-house {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 434px 36px 120px 20px 28px 114px;
  color: ivory; }

.row-eps-a {
  grid-row: 1;
  background-color: transparent; }

.row-eps-b {
  display: grid;
  grid-template-columns: 81px 34px 131px;
  grid-template-rows: 1fr; }

.eps-b-col-1,
.eps-b-col-3 {
  background-color: transparent;
  border-bottom: 3px solid #6f391f; }

.eps-b-col-2 {
  background-color: #ac592d;
  border-bottom: 5px solid #96431b;
  z-index: 10;
  box-shadow: 0 56px 60px 20px #b18562; }

.row-eps-c {
  grid-row: 3;
  /*58381f roof bot*/
  /*top 7f431f*/
  background: linear-gradient(180deg, #7f431f 0%, #75451d 30%, #321e0e 90%); }

.row-eps-d {
  background-color: #bfa187; }

.row-eps-e {
  background-color: #c4a98e;
  border-left: 3px solid #5d391f;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.ep-e-panel {
  border-left: 1px solid #837163;
  background: linear-gradient(90deg, #998c7c 0%, rgba(46, 135, 41, 0.4) 100%); }

.row-eps-e {
  background-color: #7b8378; }

.row-eps-f {
  background: linear-gradient(180deg, #251505 0%, #a27c55 100%); }

.white {
  background-color: #edc07e;
  grid-column: 1; }

.sidewalk {
  grid-column: 1 /-1;
  grid-row: 2;
  background-color: #977b63;
  box-shadow: -12px 20px 12px 2px rgba(0, 0, 0, 0.5);
  z-index: 6;
  display: grid;
  grid-template-columns: 12px repeat(16, 1fr) 52px;
  grid-template-rows: 7px auto; }

.earth {
  grid-column: 1 /-1;
  grid-row: 3;
  background-color: #41220d;
  background: linear-gradient(#6e452a, #90542d); }

.stone {
  border: 1px solid #28160c;
  border-top: 1px solid #7f6447;
  background-color: #8a7e67;
  border-radius: 2px; }

.pavement {
  grid-row: 1;
  grid-column: 1/-1;
  background: linear-gradient(#866850, #a78c6e); }

.sidewalk div:nth-child(2) {
  grid-row: 2;
  background: #ae957d; }

.sidewalk div:nth-child(3) {
  background: #96836c; }

.sidewalk div:nth-child(4) {
  background: #a48b72; }

.sidewalk div:nth-child(5) {
  background: #94836a; }

.sidewalk div:nth-child(6) {
  background: #a0886c; }

.sidewalk div:nth-child(7) {
  background: #9a8169; }

.sidewalk div:nth-child(8) {
  background: #9b856a; }

.sidewalk div:nth-child(9) {
  background: #9b856a; }

.sidewalk div:nth-child(10) {
  background: #9b856a; }

.sidewalk div:nth-child(11) {
  background: #9b856a; }

.sidewalk div:nth-child(12) {
  background: #ae957d; }

.sidewalk div:nth-child(13) {
  background: #96836c; }

.sidewalk div:nth-child(14) {
  background: #a48b72; }

.sidewalk div:nth-child(15) {
  background: #94836a; }

.sidewalk div:nth-child(16) {
  background: #a0886c; }

.sidewalk div:nth-child(17) {
  background: #9a8169; }

.sidewalk div:nth-child(18) {
  background: #9b856a; }

/*=============sidewalk & earth Done ==================*/

/*# sourceMappingURL=master.css.map */
