/* At a macro-level: grid-columns (as house-names) are identified from right to left: */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: .8em; }

/*general outline of photo*/
/*


*/
body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  width: 100vw;
  height: 100vh; }

.div {
  text-align: center;
  overflow: hidden; }

.firmament-container {
  grid-row: 2;
  grid-column: 2;
  width: 1400px;
  height: 800px;
  z-index: -1;
  background: linear-gradient(135deg, #c2bfb4 0%, #3d756f 50%, #171f1e 100%); }

.entire-pic-container {
  width: 1400px;
  height: 800px;
  display: grid;
  grid-template-columns: 196px 408px 122px 426px 244px;
  /* = 1400 */
  grid-template-rows: 750px 18px 32px;
  /* = 800 */
  overflow: hidden; }

/*White-house color notes
*/
.white {
  background: fuchsia; }

.white-sky {
  background: transparent; }

.white-roof {
  border: 3px solid #bc8768;
  background: #9d8d83;
  box-shadow: inset 4px 4px 3px 2px rgba(193, 157, 131, 0.4);
  z-index: -2; }

.white-shing {
  filter: blur(3px); }
  .white-shing.mud {
    background-color: #9b806f; }
  .white-shing.sand {
    background-color: #ac917f; }
  .white-shing.moss {
    background-color: #60727c; }

.wh-gutter-top {
  background: linear-gradient(180deg, #ecd8c0 0%, #ead0b5 100%);
  border-right: 1px solid rgba(144, 132, 119, 0.7);
  border-top: 1px solid #cbbaa8; }

.wh-gutter-mid {
  background: linear-gradient(270deg, #e2c09f 0%, #eed3b6 100%);
  border: 1px solid #d1b397;
  border-right: 1px solid rgba(144, 132, 119, 0.7); }

.wh-gutter-bot {
  background-color: #ecd3b5;
  border-right: 1px solid rgba(168, 144, 119, 0.8);
  border-bottom: 3px solid rgba(180, 133, 94, 0.7);
  border-bottom-right-radius: 1px;
  box-shadow: -3px 8px 5px 1px rgba(69, 60, 50, 0.7); }

.white-gutter-base {
  background-color: #ecc9a9;
  border-bottom: 2px solid #9c7153; }

.white-attic {
  background-color: #ecd5ba;
  border-bottom: 2px solid #b38364; }

.wh-attic-window-left {
  background-color: #423525;
  border-radius: 1px;
  border: 1px solid #c49f82;
  border-bottom-width: 0px; }

.wh-attic-window-right {
  background-color: #4d3d2e;
  border-radius: 1px;
  border: 1px solid #c49f82;
  border-bottom-width: 0px; }

.wh-attic-ledge-left {
  filter: blur(1px);
  background: #91745a;
  border-radius: 1px;
  box-shadow: -1px 0px 0px 0px #695a44; }

.wh-attic-ledge-right {
  filter: blur(1px);
  background: #91745a;
  border-radius: 1px;
  box-shadow: -1px 0px 0px 0px #695a44; }

.white-facade {
  background: linear-gradient(180deg, #ead0b3 0%, #ceae90 100%); }

/*White-house layout profile

*/
.white-house-col {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 162px 32px 12px 66px 478px; }

.white-sky {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: 111px 51px;
  grid-template-rows: 105px 57px; }

.white-roof {
  grid-column: 1;
  grid-row: 2;
  height: 145px;
  width: 145px;
  transform: rotate(28deg) translateX(-37px) translateY(37px);
  -webkit-clip-path: polygon(0 0, 25% 40%, 100% 0);
  clip-path: polygon(0 0, 25% 40%, 100% 0); }

.white-shing-container {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 1px;
  border: 1px; }

#wh-shing-1 {
  grid-column: 1/5;
  grid-row: 7; }
#wh-shing-2 {
  grid-column: 1;
  grid-row: 2/5; }
#wh-shing-3 {
  grid-column: 1;
  grid-row: 6; }
#wh-shing-4 {
  grid-column: 2/5;
  grid-row: 6; }
#wh-shing-5 {
  grid-column: 5;
  grid-row: 7; }
#wh-shing-6 {
  grid-column: 3;
  grid-row: 7; }
#wh-shing-7 {
  grid-column: 2;
  grid-row: 6; }
#wh-shing-8 {
  grid-column: 2;
  grid-row: 4; }
#wh-shing-9 {
  grid-column: 2;
  grid-row: 5; }
#wh-shing-10 {
  grid-column: 3;
  grid-row: 5; }

.white-gutter {
  grid-row: 2;
  grid-column: 1;
  z-index: 1;
  display: grid;
  grid-template-columns: 196px;
  grid-template-rows: 17px 5px 10px; }

.wh-gutter-top {
  grid-row: 1;
  grid-column: 1; }

.wh-gutter-mid {
  width: 194px;
  grid-row: 2;
  grid-column: 1; }

.wh-gutter-bot {
  grid-row: 3;
  grid-column: 1; }

.white-gutter-base {
  grid-row: 3;
  grid-column: 1; }

.white-attic {
  grid-row: 4;
  grid-column: 1;
  display: grid;
  grid-template-columns: 25px 2px 54px 2px 34px 2px 54px 2px auto;
  grid-template-rows: 8px 29px 2px auto; }

.wh-attic-window-left {
  grid-column: 3;
  grid-row: 2; }

.wh-attic-window-right {
  grid-column: 7;
  grid-row: 2; }

.wh-attic-ledge-left {
  grid-column: 2/5;
  grid-row: 3; }

.wh-attic-ledge-right {
  grid-column: 6/9;
  grid-row: 3; }

.white-facade {
  grid-row: 5;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 145px 158px 175px; }

.wh-floor-3 {
  grid-column: 1;
  grid-row: 1;
  opacity: .5;
  display: grid;
  grid-template-columns: 14px 68px 24px 68px 10px auto;
  grid-template-rows: 18px 4px 8px 70px 33px 12px; }

.wh-f3-deck-awning-top {
  grid-row: 5;
  grid-column: 1; }

.wh-f3-door-left {
  grid-column: 2;
  grid-row: 2/6;
  background-color: grey; }

.wh-f3-door-right {
  grid-column: 4;
  grid-row: 2/6;
  background-color: grey; }

.wh-f3-deck-base {
  grid-column: 1/6;
  grid-row: 6;
  background-color: #80552e; }

.wh-floor-2 {
  grid-column: 1;
  grid-row: 2;
  background: pink;
  opacity: .5;
  display: grid;
  grid-template-columns: 14px 68px 24px 68px 10px auto;
  grid-template-rows: 18px 4px 8px 70px 33px 12px; }

.wh-f2-door-left {
  grid-column: 2;
  grid-row: 2/6;
  background-color: #65a868; }

.wh-f2-door-right {
  grid-column: 4;
  grid-row: 2/6;
  background-color: #ad7d00; }

.wh-f2-deck-base {
  grid-column: 1/6;
  grid-row: 6;
  background-color: #421f83; }

.wh-floor-1 {
  grid-column: 1;
  grid-row: 3;
  background: teal;
  opacity: .5;
  display: grid;
  grid-template-columns: 14px 68px 24px 68px auto;
  grid-template-rows: 34px 136px 5px; }

.wh-f1-door-left {
  grid-column: 2;
  grid-row: 2;
  background-color: #83427f; }

.wh-f1-door-right {
  grid-column: 4;
  grid-row: 2;
  background-color: #baeebf; }

.wh-step-row {
  grid-column: 2/5;
  grid-row: 3;
  background-color: rgba(77, 43, 48, 0.77); }

/* Peach house profile
  sky:114
  rooftop:14
  roof:92
  gutter:24
  gutter:24
  facade:458
  foundation:2
  */
.peach {
  background-color: #7391c3; }

.peach-sky {
  background: transparent; }

.peach-chimney-left {
  position: relative; }

.peach-chimney-right {
  position: relative; }

.peach-chimney-cap {
  grid-row: 1; }

.peach-chimney-crown {
  grid-row: 2;
  width: 34px;
  height: 10px;
  position: absolute;
  top: 0;
  left: -4px;
  border-radius: 0px 0px 4px 4px; }

.peach-chimney-base {
  background-color: #e5b689;
  border-bottom: 2px solid #b18157; }

.peach-chimbody-left {
  background: linear-gradient(119deg, #d8ac75 0%, #d8ac75 70%, #bc8558 78%, #986b46 100%); }
.peach-chimbody-right {
  background-color: #d8ac75; }

.peach-rooftop-top {
  background-color: #b49073; }

.peach-rooftop-mid {
  background-color: #e4caab;
  background: linear-gradient(#3e372e 0%, #e4caab 50%); }

.peach-rooftop-bot {
  background-color: #a57d5a; }

.p-roofsec-right-top {
  background-color: #b49073; }

.p-roofsec-right-mid {
  background: linear-gradient(#3e372e 0%, #e4caab 50%);
  background-color: #e4caab; }

.p-roofsec-right-bot {
  background-color: #a57d5a; }

.gable-rt-roof {
  background-color: #b0a995;
  border-right: 2px solid #ad8862;
  border-bottom: 2px solid #907a63;
  box-shadow: inset -3px 1px 1px 1px rgba(91, 48, 23, 0.4); }

.gable-rt-gutter {
  background-color: #d1af90;
  border-bottom: 1px solid #9d7857;
  box-shadow: -3px 3px 3px 1px rgba(62, 62, 62, 0.7);
  z-index: 3; }

.gable-rt-roof-frame {
  border-top: 6px solid #bc9b7c;
  border-right: 5px solid #bc8f65;
  z-index: 2; }

.rt-gab-shing-container {
  box-shadow: inset -1px 2px 3px 1px #5e3a29;
  background: #796b62;
  padding-right: 2px;
  padding-top: 2px;
  filter: blur(1px); }

.peach-shing-gr {
  background-color: #6c7762;
  opacity: .7; }

.peach-shing-br {
  background-color: #977c6b;
  opacity: .7; }

.peach-shing-white {
  background-color: #a6a089; }

.peach-gutter-top-lip {
  background: linear-gradient(#947c68 0%, #d6b894 100%);
  border-right: 2px solid rgba(119, 114, 108, 0.65); }

.peach-gutter-top-mid {
  background: #e0c49f;
  border-right: 2px solid rgba(119, 114, 108, 0.65); }

.peach-gutter-top-deco {
  background: white;
  color: maroon;
  font-size: 7px;
  font-family: sans-serif; }

.peach-gutter-base {
  background-color: #ead2b0;
  border-bottom: 2px solid #a97347; }

.peach-gutter-base-top {
  border-top: 1px solid #a17f5c;
  background-color: #dfbe9d; }

.peach-gutter-base-bot {
  border-top: 2px solid #bea183; }

.peach-facade {
  background: linear-gradient(215deg, #ecc38b 0%, #d6a76e 100%); }

.foundation-top {
  border-right: 2px solid #6e3d23;
  border-bottom: 2px solid #6e3d23;
  background: linear-gradient(90deg, #a0462e 0%, #c46138 100%); }

.foundation-bot {
  border-right: 1px solid #6e3d23;
  background: linear-gradient(90deg, #a0462e 0%, #c46138 100%); }

.peach-steps {
  display: grid;
  grid-template-columns: 14px 7px 76px 14px 7px;
  grid-template-rows: 6px 7px 7px 6px; }

.steps-block-left {
  background-color: #cbac90;
  grid-column: 1/3;
  grid-row: 1/-1;
  border: 1px solid #b2906d;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: -15px 5px 6px 0px rgba(0, 0, 0, 0.3); }

.step1 {
  background-color: #ccab8c;
  grid-column: 3;
  grid-row: 1;
  background: linear-gradient(90deg, #ccab8c 70%, #754b2b 100%);
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-image: linear-gradient(to right, #c7a687 60%, #543216 100%) 1 0%; }

.step2 {
  background-color: #ccab8c;
  grid-column: 3;
  grid-row: 2;
  background: linear-gradient(90deg, #ccab8c 80%, #754b2b 100%);
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-image: linear-gradient(to right, #c7a687 70%, #623b1a 100%) 1 0%; }

.step3 {
  grid-column: 3;
  grid-row: 3;
  background: linear-gradient(90deg, #ccab8c 90%, #8c6343 100%);
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-image: linear-gradient(to right, #c7a687 80%, #623b1a 100%) 1 0%; }

.step4 {
  background-color: #ccab8c;
  grid-column: 2/5;
  grid-row: 4;
  border: 1px solid #b49578;
  z-index: 10;
  box-shadow: -5px 1px 1px -1px rgba(0, 0, 0, 0.3); }

.steps-block-right {
  background-color: #cbac90;
  grid-column: 4/7;
  grid-row: 1/-1;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #b2906d; }

/* Peach house profile
  sky:114
  rooftop:14
  roof:92
  gutter:24
  gutter:24
  facade:458
  foundation:2
  */
.peach-house-col {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1hr;
  grid-template-rows: 114px 110px 20px 26px 455px 26px; }

.peach-sky {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: 26px 1fr 26px;
  grid-template-rows: 84px 1fr; }

.peach-chimney-left {
  grid-row: 2;
  grid-column: 1;
  background: red;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12px 10px 10px; }

.peach-chimney-right {
  grid-row: 2;
  grid-column: 3;
  background: blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12px 10px 10px; }

.peach-chimney-cap {
  background-color: #e5bb8a;
  border: 1px solid #b08962;
  border-top: 2px solid b99e80; }

.peach-chimney-crown {
  background-color: #e5b689;
  border-bottom: 5px solid #a17145; }

.peach-chimney-base {
  grid-row: 3; }

.peach-roof {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 25px 36px 280px 13px 30px 26px;
  grid-template-rows: 12px 98px; }

.peach-chimbody-left {
  grid-column: 1;
  grid-row: 1/-1; }
.peach-chimbody-right {
  grid-column: 6;
  grid-row: 1/-1; }

.peach-rooftop-section-left {
  grid-column: 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 4px 5px 271px;
  grid-template-rows: 2px 8px 4px; }
.peach-rooftop-section-right {
  grid-column: 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 5px 5px 4px;
  grid-template-rows: 2px 8px 4px; }

.peach-rooftop-top {
  grid-column: 1/-1;
  grid-row: 1; }

.peach-rooftop-mid {
  grid-column: 2/-1;
  grid-row: 2;
  border-bottom-left-radius: 6px; }

.peach-rooftop-bot {
  grid-column: 3;
  grid-row: 3;
  border-bottom-left-radius: 8px; }

.p-roofsec-right-top {
  grid-column: 1/-1;
  grid-row: 1; }

.p-roofsec-right-mid {
  grid-column: 1/3;
  grid-row: 2;
  border-bottom-right-radius: 6px; }

.p-roofsec-right-bot {
  grid-column: 1;
  grid-row: 3;
  border-bottom-right-radius: 8px; }

.peach-right-gable {
  grid-row: 2;
  grid-column: 4/-1;
  display: grid;
  grid-template-columns: 56px 6px 4px 3px 4px;
  grid-template-rows: 3px 21px 9px 12px 7px auto; }

.gable-rt-roof {
  grid-column: 1/4;
  grid-row: 2;
  border-radius: 0 2px 2px 0; }

.gable-rt-gutter {
  grid-column: 1/3;
  grid-row: 3/4;
  border-radius: 0 0 4px 0; }

.gable-rt-roof-frame {
  grid-column: 1;
  grid-row: 4/-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }

.rt-gab-shing-container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1px; }

#gab-shing-1 {
  grid-row: 1;
  grid-column: 7/-1; }
#gab-shing-2 {
  grid-row: 2;
  grid-column: 3/6; }
#gab-shing-3 {
  grid-row: 4;
  grid-column: 4/6; }
#gab-shing-4 {
  grid-row: 7;
  grid-column: 7/9; }
#gab-shing-5 {
  grid-row: 1;
  grid-column: 5/7; }
#gab-shing-6 {
  grid-row: 1;
  grid-column: 3/5; }
#gab-shing-7 {
  grid-row: 4;
  grid-column: 6/8; }
#gab-shing-8 {
  grid-row: 2;
  grid-column: 8; }
#gab-shing-9 {
  grid-row: 2;
  grid-column: 6/8; }
#gab-shing-10 {
  grid-row: 4;
  grid-column: 8; }
#gab-shing-11 {
  grid-row: 3;
  grid-column: 7/9; }
#gab-shing-12 {
  grid-row: 3;
  grid-column: 5/7; }
#gab-shing-13 {
  grid-row: 6;
  grid-column: 8; }
#gab-shing-14 {
  grid-row: 5;
  grid-column: 5/7; }
#gab-shing-15 {
  grid-row: 5;
  grid-column: 7/9; }
#gab-shing-16 {
  grid-row: 6;
  grid-column: 6/8; }

.pg-top-container {
  width: 410px;
  height: 20px;
  grid-row: 3;
  grid-column: 1; }

.peach-gutter-top {
  display: grid;
  grid-template-columns: 414px 7px 8px;
  grid-template-rows: 7px 6px 7px;
  width: 425px;
  height: 20px;
  left: -2px;
  top: 0;
  position: relative; }

.peach-gutter-top-lip {
  grid-column: 1/-1;
  grid-row: 1;
  border-bottom-right-radius: 4px; }

.peach-gutter-top-mid {
  grid-column: 1/3;
  grid-row: 2;
  border-bottom-right-radius: 4px; }

.peach-gutter-top-deco {
  grid-column: 1/2;
  grid-row: 3;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 4px; }

.peach-gutter-base {
  grid-row: 4;
  grid-column: 1;
  display: grid; }

.peach-facade {
  grid-column: 1;
  grid-row: 5; }

.pch-floor-3 {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 28px 86px 47px 86px 47px 86px 28px;
  grid-template-rows: 10px 129px; }

.pch-f3-window-left {
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(112, 195, 139, 0.85); }

.pch-f3-window-ctr {
  grid-column: 4;
  grid-row: 2;
  background-color: rgba(187, 189, 92, 0.81); }

.pch-f3-window-right {
  grid-column: 6;
  grid-row: 2;
  background-color: rgba(226, 135, 83, 0.86); }

.pch-floor-2 {
  grid-column: 1;
  grid-row: 2;
  background-color: #224a74; }

.pch-floor-1 {
  grid-column: 1;
  grid-row: 3;
  background-color: #451d23; }

.foundation-container {
  grid-row: 6;
  grid-column: 1;
  position: relative; }

.peach-foundation {
  width: 414px;
  height: 26px;
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 18px 118px 274px 4px;
  grid-template-rows: 10px 16px; }

.foundation-top {
  grid-column: 1/5;
  grid-row: 1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.foundation-bot {
  grid-column: 1/4;
  grid-row: 2; }

.peach-steps {
  grid-column: 2/3;
  grid-row: 1/-1; }

/* dark house profile:  386 + 86 + 142 + 132*/
.dark-sky {
  background-color: transparent;
  border-bottom: 2px solid #4b5545; }

.dark-roof {
  background: linear-gradient(130deg, #71685f 0%, #2a241e 100%);
  border-top: 3px solid #5d513b;
  border-bottom: 2px solid #76522d; }

.dark-facade {
  background: linear-gradient(140deg, #8d6a45 0%, #724421 100%);
  border-top: 2px solid #805731;
  border-bottom: 1px solid #8d6a45; }

.dark-door {
  border-top: 2px solid #99734f;
  box-shadow: inset 0px 3px 10px -3px rgba(65, 26, 8, 0.89);
  background: linear-gradient(45deg, #c5a987 0%, #96734f 100%); }

.dark-house-col {
  grid-column: 3;
  display: grid;
  grid-template-rows: 386px 86px 142px 136px;
  grid-template-columns: 1fr; }

.dark-sky {
  grid-row: 1;
  grid-column: 1; }

.dark-roof {
  grid-row: 2;
  grid-column: 1; }

.dark-facade {
  grid-row: 3;
  grid-column: 1; }

.dark-door {
  grid-row: 4;
  grid-column: 1; }

/*===============BRICK Color notes
*
*
*/
.brick-house-col {
  /*background-color: rgb(75, 108, 138);*/
  color: ivory;
  border-bottom: 1px solid white; }

.brick-top-chimney-capL {
  background-color: #b05b3e;
  border-bottom: 3px solid #77371f;
  border-top: 2px solid #9b6d59; }

.brick-top-chimney-capR {
  background: #a15338;
  border-bottom: 3px solid #77371f;
  border-top: 2px solid #9b6d59; }

.brick-top-chimney-bodyL {
  background: #a75537;
  box-shadow: inset 0px 0px 2px 1px #73402d; }

.brick-top-chimney-bodyR {
  background: #a75537;
  box-shadow: inset 0px 0px 2px 1px #73402d; }

.brick-roof {
  background: linear-gradient(345deg, #5d5646 0%, #897565 100%);
  border-top: 3px solid #9e563d;
  border-bottom: 2px solid #45372c;
  box-shadow: 0px -1px 1px 0px #a5694f; }

.shing {
  filter: blur(2px);
  opacity: .7; }

.shing.tan {
  background-color: #8b7665; }

.shing.brown {
  background-color: #534638; }

.shing.green {
  background-color: #395440; }

.brick-gutters {
  background: fuchsia; }

.brick-gutter-top-left {
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62; }

.brick-gutter-top-mid {
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62; }

.brick-gutter-top-right {
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62; }

.brick-gutter-bot-left {
  background-color: #4c2818;
  border: 3px solid #dac3a1;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent; }

.brick-gutter-bot-mid {
  background-color: #dac3a1; }

.brick-gutter-bot-right {
  background-color: #745746; }

.brick-facade {
  background: linear-gradient(45deg, #933812 0%, #a85b29 100%);
  box-shadow: -100px 130px 10px 2px rgba(0, 0, 0, 0.3); }

.brick-attic-left {
  background-color: #b56642; }

.brick-attic-mid {
  background-color: #c2a382;
  border-radius: 0px 0px 4px 4px; }

.brick-container {
  overflow: hidden;
  color: ivory;
  font-family: sans-serif; }

.brick {
  opacity: .1;
  filter: blur(1px);
  border-top: 1px solid white; }
  .brick-odd::before {
    content: "IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII"; }
  .brick-even::before {
    content: "IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII"; }

/*===============BRICK HOUSE Profile================*/
/*
8 layers
64px 33 146px 14px 8px 18px 24px 440px;
 */
.brick-house-col {
  display: grid;
  grid-column: 4;
  grid-template-rows: 64px 33px 146px 14px 494px; }

.brick-house-col {
  position: relative; }

.brick-sky {
  grid-row: 1;
  position: relative; }

.brick-top-chimneys {
  grid-row: 2;
  position: relative;
  display: grid;
  grid-template-columns: 28px auto 24px;
  grid-template-rows: 12px 21px; }

.brick-top-chimney-capL {
  grid-column: 1;
  grid-row: 1;
  z-index: 10;
  width: 34px;
  position: relative;
  left: -3px;
  border-radius: 4px; }

.brick-top-chimney-capR {
  grid-column: 3;
  grid-row: 1;
  border-radius: 5px;
  width: 28px;
  height: 14px;
  z-index: 10;
  left: -2px;
  border-radius: 4px;
  position: absolute; }

.brick-top-chimney-bodyL {
  grid-column: 1;
  grid-row: 2;
  z-index: 10; }

.brick-top-chimney-bodyR {
  grid-column: 3;
  grid-row: 2;
  z-index: 10; }

.brick-roof {
  grid-column: 1;
  grid-row: 3;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(38, 1fr); }

#shing-tan1 {
  grid-column: 9/17;
  grid-row: 8; }
#shing-tan2 {
  grid-column: 18;
  grid-row: 4; }
#shing-tan3 {
  grid-column: 16;
  grid-row: 5; }
#shing-tan4 {
  grid-column: 1/16;
  grid-row: 1; }
#shing-tan5 {
  grid-column: 2/4;
  grid-row: 8/9; }
#shing-tan6 {
  grid-column: 1/8;
  grid-row: 12/14; }
#shing-tan7 {
  grid-column: 17/19;
  grid-row: 24; }
#shing-tan8 {
  grid-column: 24;
  grid-row: 24; }
#shing-tan9 {
  grid-column: 3/11;
  grid-row: 20; }
#shing-tan10 {
  grid-column: 11/13;
  grid-row: 27; }
#shing-tan11 {
  grid-column: 1/4;
  grid-row: 33; }
#shing-tan12 {
  grid-column: 23/26;
  grid-row: 15; }
#shing-tan13 {
  grid-column: 15;
  grid-row: 35; }
#shing-tan14 {
  grid-column: 31;
  grid-row: 7; }
#shing-tan15 {
  grid-column: 4;
  grid-row: 36; }

#shing-br1 {
  grid-column: 3;
  grid-row: 7; }
#shing-br2 {
  grid-column: 4;
  grid-row: 15; }
#shing-br3 {
  grid-column: 5;
  grid-row: 21; }
#shing-br4 {
  grid-column: 11;
  grid-row: 29; }
#shing-br5 {
  grid-column: 13;
  grid-row: 18; }
#shing-br6 {
  grid-column: 18;
  grid-row: 2; }
#shing-br7 {
  grid-column: 21;
  grid-row: 17; }
#shing-br8 {
  grid-column: 24;
  grid-row: 14; }
#shing-br9 {
  grid-column: 19/21;
  grid-row: 25; }
#shing-br10 {
  grid-column: 8;
  grid-row: 3; }
#shing-br11 {
  grid-column: 18;
  grid-row: 36; }
#shing-br12 {
  grid-column: 4;
  grid-row: 35; }
#shing-br13 {
  grid-column: 20/23;
  grid-row: 34; }
#shing-br14 {
  grid-column: 25/28;
  grid-row: 29; }
#shing-br15 {
  grid-column: 25/-1;
  grid-row: 36; }

#shing-gr1 {
  grid-column: 17;
  grid-row: 20; }
#shing-gr2 {
  grid-column: 4;
  grid-row: 10; }
#shing-gr3 {
  grid-column: 3;
  grid-row: 23; }
#shing-gr4 {
  grid-column: 21;
  grid-row: 14; }
#shing-gr5 {
  grid-column: 10;
  grid-row: 11; }
#shing-gr6 {
  grid-column: 9;
  grid-row: 28; }
#shing-gr7 {
  grid-column: 15;
  grid-row: 14; }
#shing-gr8 {
  grid-column: 20;
  grid-row: 19; }
#shing-gr9 {
  grid-column: 25;
  grid-row: 25; }
#shing-gr10 {
  grid-column: 20;
  grid-row: 28; }
#shing-gr11 {
  grid-column: 5;
  grid-row: 28; }
#shing-gr12 {
  grid-column: 1;
  grid-row: 35; }
#shing-gr13 {
  grid-column: 11;
  grid-row: 34; }
#shing-gr14 {
  grid-column: 23/25;
  grid-row: 35; }
#shing-gr15 {
  grid-column: 17;
  grid-row: 37; }

.brick-gutters {
  grid-column: 1;
  grid-row: 4;
  display: grid;
  grid-template-columns: 6px auto 5px;
  grid-template-rows: 7px 7px; }

.brick-gutter-top-left {
  grid-row: 1;
  grid-column: 1; }
.brick-gutter-top-mid {
  grid-column: 2;
  grid-row: 1; }
.brick-gutter-top-right {
  grid-column: 3;
  grid-row: 1; }
.brick-gutter-bot-left {
  grid-column: 1;
  grid-row: 2; }
.brick-gutter-bot-mid {
  grid-column: 2;
  grid-row: 2; }
.brick-gutter-bot-right {
  grid-column: 3;
  grid-row: 2; }

.brick-facade {
  grid-column: 1;
  grid-row: 5;
  display: grid;
  grid-template-columns: 18px auto 15px;
  grid-template-rows: 50px auto; }

.brick-container {
  grid-column: 1/-1;
  grid-row: 1/-1; }

.brick {
  padding: 0;
  margin: 0;
  font-size: 8px;
  font-weight: 400;
  line-height: 75%;
  letter-spacing: 1em; }

.brick-odd {
  text-indent: 6px; }

.brick-attic-row {
  grid-row: 1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 18px auto 15px;
  grid-template-rows: 50px;
  z-index: 10; }
.brick-attic-left {
  grid-column: 1; }
.brick-attic-mid {
  grid-column: 2; }
.brick-attic-right {
  grid-column: 3; }

.short-house {
  color: ivory; }

.short-sky {
  background-color: transparent; }

.eps-b-col-1,
.eps-b-col-3 {
  background-color: transparent;
  border-bottom: 3px solid #6f391f; }

.short-chimney {
  background-color: #ac592d;
  border-bottom: 5px solid #96431b;
  z-index: 10;
  box-shadow: 0 56px 60px 20px #b18562; }

.short-roof {
  background: linear-gradient(180deg, #7f431f 0%, #75451d 30%, #321e0e 90%); }

.short-gutter {
  background-color: #bfa187; }

.short-awning {
  background-color: #c4a98e;
  border-left: 3px solid #5d391f; }

.short-awning-panel {
  border-left: 1px solid #837163;
  background: linear-gradient(90deg, #998c7c 0%, rgba(46, 135, 41, 0.4) 100%); }

.short-awning {
  background-color: #7b8378; }

.short-facade {
  background: linear-gradient(180deg, #251505 0%, #a27c55 100%); }

.short-house {
  grid-column: 5; }

.short-house {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 434px 36px 120px 20px 28px 114px; }

.short-sky {
  grid-row: 1; }

.row-eps-b {
  display: grid;
  grid-template-columns: 81px 34px 131px;
  grid-template-rows: 1fr; }

.short-chimney {
  z-index: 10; }

.short-roof {
  grid-row: 3; }

.short-awning {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.sidewalk {
  background-color: #977b63;
  box-shadow: -12px 20px 12px 2px rgba(0, 0, 0, 0.5); }

.earth {
  background-color: #41220d;
  background: linear-gradient(#6e452a, #90542d);
  z-index: 4; }

.stone {
  border: 1px solid #28160c;
  border-top: 1px solid #7f6447;
  background-color: #8a7e67; }

.pavement {
  background: linear-gradient(#866850, #a78c6e); }

.sidewalk div:nth-child(2) {
  background: #ae957d; }

.sidewalk div:nth-child(3) {
  background: #96836c; }

.sidewalk div:nth-child(4) {
  background: #a48b72; }

.sidewalk div:nth-child(5) {
  background: #94836a; }

.sidewalk div:nth-child(6) {
  background: #a0886c; }

.sidewalk div:nth-child(7) {
  background: #9a8169; }

.sidewalk div:nth-child(8) {
  background: #9b856a; }

.sidewalk div:nth-child(9) {
  background: #9b856a; }

.sidewalk div:nth-child(10) {
  background: #9b856a; }

.sidewalk div:nth-child(11) {
  background: #9b856a; }

.sidewalk div:nth-child(12) {
  background: #ae957d; }

.sidewalk div:nth-child(13) {
  background: #96836c; }

.sidewalk div:nth-child(14) {
  background: #a48b72; }

.sidewalk div:nth-child(15) {
  background: #94836a; }

.sidewalk div:nth-child(16) {
  background: #a0886c; }

.sidewalk div:nth-child(17) {
  background: #9a8169; }

.sidewalk div:nth-child(18) {
  background: #9b856a; }

/*=============sidewalk & earth Done ==================*/
.sidewalk {
  grid-column: 1 /-1;
  grid-row: 2;
  z-index: 6;
  display: grid;
  grid-template-columns: 12px repeat(16, 1fr) 52px;
  grid-template-rows: 7px auto; }

.earth {
  grid-column: 1 /-1;
  grid-row: 3; }

.stone {
  border-radius: 2px; }

.pavement {
  grid-row: 1;
  grid-column: 1/-1; }

.sidewalk div:nth-child(2) {
  grid-row: 2; }

/*# sourceMappingURL=master.css.map */
