/*.row-delta-e {
  display: grid;
  grid-template-columns: 6px auto 4px;
  grid-template-rows: 1fr 1fr;
}*/

.delta-e-col1 {
  background-color: #bfa68b;
  grid-column: 1/-1;
  grid-row: 1;
  border-bottom: 1px solid #a07e62;
}


.delta-e-col3 {
  background-color: #dac3a1;
  grid-column: 2;
  grid-row: 2;
  border-radius: 0px 0px 4px 0px;
}
.delta-e-col4 {
  background-color: #8d4b3b;
  grid-column: 3;
  grid-row: 2;
}
