* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: .8em;
}
/*general outline of photo*/
/*


*/
.div {
  text-align: center;
  overflow: hidden;
}
.entire-pic-container {
  margin: 1vh auto;
  width: 1400px;
  height: 800px;
  background: grey;
  display: grid;
  grid-template-columns: 194px 410px 124px 426px 246px; /* = 1400 */
  grid-template-rows: 750px 18px 32px; /* = 800 */
  /*grid-template-rows: 800px;*/

}

div.entire-pic-container {
  background-color: #d362d9;
}
/*horizon alpha - epsilon (parent map) */
.alpha {
  background-color: #edc07e;
  grid-column: 1;
}

.beta {
  background-color: #7391c3;
  grid-column: 2;
}

.gamma {
  background-color: #aa87a9;
  grid-column: 3;
}

.delta {
  grid-column: 4;
  background-color: rgb(71, 112, 100);
}
.epsilon {
  background: linear-gradient(180deg, #88928a 0%,  #516d68 40%, #182120 64%, #182120 100%);
  grid-column: 5;
}
.zeta {
  grid-column: 1 /-1;
  grid-row: 2;
  background-color: #977b63;
  box-shadow: -12px 20px 12px 2px rgba(0,0,0,0.5);
  z-index: 6;
  display: grid;
  grid-template-columns: 12px repeat(16, 1fr) 52px;
  grid-template-rows: 7px auto;
}
.eta {
  grid-column: 1 /-1;
  grid-row: 3;
  background-color: #41220d;
  background: linear-gradient(#6e452a, #90542d);
}

.stone {
  border: 1px solid #28160c;
  border-top: 1px solid #7f6447;
  background-color: #8a7e67;
  border-radius: 2px;
}
.pavement {
  grid-row: 1;
  grid-column: 1/-1;
  background: linear-gradient(#866850, #a78c6e);

}
.zeta div:nth-child(2) {
  grid-row: 2;
  background: #ae957d;
}
.zeta div:nth-child(3) {
  background: #96836c;
}
.zeta div:nth-child(4) {
  background: #a48b72;
}
.zeta div:nth-child(5) {
  background: #94836a;
}
.zeta div:nth-child(6) {
  background: #a0886c;
}
.zeta div:nth-child(7) {
  background: #9a8169;
}
.zeta div:nth-child(8) {
  background: #9b856a;
}
.zeta div:nth-child(9) {
  background: #9b856a;
}
.zeta div:nth-child(10) {
  background: #9b856a;
}
.zeta div:nth-child(11) {
  background: #9b856a;
}
.zeta div:nth-child(12) {
  background: #ae957d;
}
.zeta div:nth-child(13) {
  background: #96836c;
}
.zeta div:nth-child(14) {
  background: #a48b72;
}
.zeta div:nth-child(15) {
  background: #94836a;
}
.zeta div:nth-child(16) {
  background: #a0886c;
}
.zeta div:nth-child(17) {
  background: #9a8169;
}
.zeta div:nth-child(18) {
  background: #9b856a;
}
/*=============Zeta & Eta Done ==================*/

/*=============Epsilon Profile ==================*/
/*434px
36px
34px
12px
6px
64px
20px
28px
114px*/
/*(plus 52 of zeta & eta)*/


.epsilon {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 434px 36px 120px 20px 28px 114px;
  color: ivory;
}


.row-eps-a {
  grid-row: 1;
  background-color: transparent;
}
.row-eps-b {
  display: grid;
  grid-template-columns: 81px 34px 131px;
  grid-template-rows: 1fr;
}

.eps-b-col-1, .eps-b-col-3 {
  background-color: transparent;
  border-bottom: 3px solid #6f391f;
}
.eps-b-col-2 {
  background-color: #ac592d;
  border-bottom: 5px solid #96431b;
  z-index: 10;
  box-shadow: 0px 56px 60px 20px #b18562;
}
.row-eps-c {
  grid-row: 3;
  /*58381f roof bot*/
  /*top 7f431f*/
  background: linear-gradient(180deg, #7f431f 0%,#75451d 30%, #321e0e 90%);


}
.row-eps-d {
  background-color: #bfa187;
}
.row-eps-e {
 background-color: #c4a98e;
 border-left: 3px solid #5d391f;
 display: grid;
 grid-template-columns: repeat(12, 1fr);
}
.ep-e-panel {
  border-left: 1px solid #837163;
  background: linear-gradient(90deg, #998c7c 0%, rgba(46, 135, 41, 0.4) 100%);
}
.row-eps-e {
 background-color: #7b8378;
}
.row-eps-f {
  background: linear-gradient(180deg, #251505 0%, #a27c55 100%);
}
.row-eps-g {

}
.row-eps-h {

}
.row-eps-i {

}
/*===============DELTA Profile================*/

/*
8 layers
64px 33 146px 14px 8px 18px 24px 440px;
 */

.brick-house-col {
  display: grid;
  /*grid-template-columns: auto;*/
  grid-template-rows: 64px 33px 146px 14px 8px 18px 24px 442px;
}
.col.brick-house-col{
  background-color: rgb(75, 108, 138);
  color: ivory;
  border-bottom: 1px solid white;
  position: relative;
}
.brick-hse-sky {
  background-color: transparent;
}


.brick-hse-top-chimneys {
  grid-row: 2;
  position: relative;
  display: grid;
  grid-template-columns: 28px auto 24px;
  grid-template-rows: 12px 21px;
}

.brick-top-chimney-capL {
  grid-column: 1;
  grid-row: 1;
  background-color: #b05b3e;
  border-bottom: 3px solid #77371f;
  border-top: 2px solid #9b6d59;
  z-index: 10;
  width: 34px;
  position: relative;
  left: -3px;
  border-radius: 4px;
}

.brick-top-chimney-capR {
  grid-column: 3;
  grid-row: 1;
  background: #a15338;
  border-bottom: 3px solid #77371f;
  border-radius: 5px;
  border-top: 2px solid #9b6d59;
  width: 28px;
  height: 14px;
  z-index: 10;
  left: -2px;
  border-radius: 4px;
  position: absolute;
}

.brick-top-chimney-bodyL {
  grid-column: 1;
  grid-row: 2;
  background: #a75537;
  box-shadow: inset 0px 0px 2px 1px #73402d;
  z-index: 10;
}

.brick-top-chimney-bodyR {
  grid-column: 3;
  grid-row: 2;
  background: #a75537;
  box-shadow: inset 0px 0px 2px 1px #73402d;
  z-index: 10;
}

.brick-roof {
  grid-column: 1;
  grid-row: 3;
  background: linear-gradient(0deg, #534f48 0%, #796b61 100%);
  border-top: 3px solid #9e563d;
  border-bottom: 2px solid #45372c;
  z-index: 10;
  box-shadow: 0px -1px 1px 0px #a5694f;
}

.brick-hse-gutters {
  display: grid;
  grid-template-columns: 6px auto 5px;
  grid-template-rows: 7px 7px;
  background: fuchsia;
}

.brick-gutter-top-left {
  grid-row: 1;
  grid-column: 1;
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62;
}


.brick-gutter-top-mid {
  grid-column: 2;
  grid-row: 1;
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62;
}

.brick-gutter-top-right {
  grid-column: 3;
  grid-row: 1;
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62;
}

.brick-gutter-bot-left {
  background-color: #4c2818;
  grid-column: 1;
  grid-row: 2;
  border: 3px solid #dac3a1;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}

.brick-gutter-bot-mid {
  background-color: #dac3a1;
  grid-column: 2;
  grid-row: 2;
}

.brick-gutter-bot-right {
  grid-column: 3;
  grid-row: 2;
  background-color: #745746;
}





/*



.row-del-e-item3 {
  background-color: #dac3a1;
  grid-column: 2;
  grid-row: 2;
  border-radius: 0px 0px 4px 0px;
}
.row-del-e-item4 {
  background-color: #8d4b3b;
  width: 1px;
  grid-column: 1;
  grid-row: 2;
}*/



/*
.delta-e-col1 {
  background-color: #bfa68b;
  grid-column: 1/-1;
  grid-row: 1;
  border-bottom: 1px solid #a07e62;
}

.delta-e-col2 {
  background-color: #4c2818;
  grid-column: 1;
  grid-row: 2;
  border: 3px solid #dac3a1;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}
.delta-e-col3 {
  background-color: #dac3a1;
  grid-column: 2;
  grid-row: 2;
  border-radius: 0px 0px 4px 0px;
}
.delta-e-col4 {
  background-color: #8d4b3b;
  grid-column: 3;
  grid-row: 2;
}



.row-delta-f {
background-color: rgba(255, 0, 0, 0.5);
}*/
.row-delta-g {

}
.row-delta-h {

}
.row-delta-i {

}
