/*White-house layout profile

*/

.white-house-col {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 162px 32px 12px 66px 478px;
}
.white-sky{
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: 100px 62px;
  grid-template-rows: 125px auto;
}
.white-roof{
  grid-column: 1;
  grid-row: 2;
  height: 145px;
  width: 145px;
  // transform-origin: 50% 50%;
  transform: rotate(28deg) translateX(-45px) translateY(18px);
  -webkit-clip-path: polygon(0 0, 25% 40%, 100% 0);
  clip-path: polygon(0 0, 25% 40%, 100% 0);
  // z-index: 12;
}

.white-gutter {
  grid-row: 2;
  grid-column: 1;
  z-index: 10;
}

.white-gutter-base{
  grid-row: 3;
  grid-column: 1;
}

.white-attic{

  grid-row: 4;
  grid-column: 1;
}

.white-facade{
  grid-row: 5;
  grid-column: 1;
}
