/*White-house color notes
*/
.white {
  // background: fuchsia;
}

.white-sky {
  background: transparent;
}

.white-roof {
  border: 3px solid #bc8768;
  background: #9d8d83;
  box-shadow: inset 4px 4px 3px 2px rgba(193, 157, 131, 0.4);
  z-index: -2;
}

.white-shing {
  filter: blur(3px);

  &.mud {
    background-color: #9b806f;
  }

  &.sand {
    background-color: #ac917f;
  }

  &.moss {
    background-color: #60727c;
  }
}


.wh-gutter-top {
  background: linear-gradient(180deg, #ecd8c0 0%, #ead0b5 100%);
  border-right: 1px solid rgba(#908477, 0.7);
  border-top: 1px solid #cbbaa8;
}

.wh-gutter-mid {
  background: linear-gradient(270deg, #e2c09f 0%, #eed3b6 100%);
  border: 1px solid #d1b397;
  border-right: 1px solid rgba(#908477, 0.7);
}

.wh-gutter-bot {
  background-color: #ecd3b5;
  border-right: 1px solid rgba(#a89077, 0.8);
  border-bottom: 3px solid rgba(#b4855e, 0.7);
  border-bottom-right-radius: 1px;
  box-shadow: -3px 8px 5px 1px rgba(#453c32, 0.7);
}

.white-gutter-base {
  background-color: #ecc9a9;
  border-bottom: 2px solid #9c7153;
}

.white-attic {
  background-color: #ecd5ba;
  border-bottom: 2px solid #b38364;
}

.wh-attic-window-left {
  background-color: #423525;
  border-radius: 1px;
  border: 1px solid #c49f82;
  border-bottom-width: 0;
}

.wh-attic-window-right {
  background-color: #4d3d2e;
  border-radius: 1px;
  border: 1px solid #c49f82;
  border-bottom-width: 0;
}

.wh-attic-ledge-left {
  filter: blur(1px);
  background: #91745a;
  border-radius: 1px;
  box-shadow: -1px 0 0 0 #695a44;
}

.wh-attic-ledge-right {
  filter: blur(1px);
  background: #91745a;
  border-radius: 1px;
  box-shadow: -1px 0 0 0 #695a44;
}

.white-facade {
  background: linear-gradient(180deg, #ead0b3 0%, #ceae90 100%);
}
