//width: 408
// 114+110+20+26+455+26

.peach-house-col {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1hr;
  grid-template-rows: 114px 110px 20px 26px 455px 26px;
}

.peach-sky {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: 26px 1fr 26px;
  grid-template-rows: 84px 1fr;
}

.peach-chimney-left {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12px 10px 10px;
}

.peach-chimney-right {
  grid-row: 2;
  grid-column: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12px 10px 10px;
}

.peach-chimney-left {
  position: relative;
}

.peach-chimney-right {
  position: relative;
}

.peach-chimney-cap {
  grid-row: 1;
}

.peach-chimney-crown {
  grid-row: 2;
  width: 34px;
  height: 10px;
  position: absolute;
  top: 0;
  left: -4px;
  border-radius: 0 0 4px 4px;
}

.peach-chimney-base {
  grid-row: 3;
}

.peach-roof {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 25px 36px 280px 13px 30px 26px;
  grid-template-rows: 12px 98px;
}

.peach-chimbody {
  &-left {
    grid-column: 1;
    grid-row: 1/-1;
  }

  &-right {
    grid-column: 6;
    grid-row: 1/-1;
  }
}

.peach-rooftop {
  &-section {
    &-left {
      grid-column: 3;
      grid-row: 1;
      display: grid;
      grid-template-columns: 4px 5px 271px;
      grid-template-rows: 2px 7px 4px;
    }

    &-right {
      grid-column: 4;
      grid-row: 1;
      display: grid;
      grid-template-columns: 5px 5px 4px;
      grid-template-rows: 2px 7px 4px;
    }
  }
}

.peach-rooftop-top {
  grid-column: 1/-1;
  grid-row: 1;
}

.peach-rooftop-mid {
  grid-column: 2/-1;
  grid-row: 2;
  border-bottom-left-radius: 6px;
}

.peach-rooftop-bot {
  grid-column: 3;
  grid-row: 3;
  border-bottom-left-radius: 8px;
}
/*============MANSARD ROOF Shingles START===============*/

#pch-shing1 {
  grid-row: 6;
  grid-column: 2/4;
}

#pch-shing2 {
  grid-row: 6;
  grid-column: 4/6;
}

#pch-shing3 {
  grid-row: 6;
  grid-column: 6/8;
}

#pch-shing4 {
  grid-row: 6;
  grid-column: 8/10;
  // background: white;
}

#pch-shing5 {
  grid-row: 5;
  grid-column: 3/5;
  // background: brown;
}

#pch-shing6 {
  grid-row: 5;
  grid-column: 5/7;
}

#pch-shing7 {
  grid-row: 5;
  grid-column: 7/9;
  background: #a28c7f;
}

#pch-shing8 {
  grid-row: 5;
  grid-column: 9/11;
}

#pch-shing9 {
  grid-row: 4;
  grid-column: 2/4;
}

#pch-shing10 {
  grid-row: 4;
  grid-column: 4/6;
  background: #a28c7f;
}

#pch-shing11 {
  grid-row: 4;
  grid-column: 6/8;
}

#pch-shing12 {
  grid-row: 4;
  grid-column: 8/10;
}

#pch-shing13 {
  grid-row: 3;
  grid-column: 3/5;
}

#pch-shing14 {
  grid-row: 3;
  grid-column: 5/7;
}

#pch-shing15 {
  grid-row: 3;
  grid-column: 7/9;
}

#pch-shing16 {
  grid-row: 3;
  grid-column: 9/11;
}

#pch-shing17 {
  grid-row: 2;
  grid-column: 4/6;
}

#pch-shing18 {
  grid-row: 2;
  grid-column: 6/8;
}

#pch-shing19 {
  grid-row: 1;
  grid-column: 7/9;
}

#pch-shing20 {
  grid-row: 1;
  grid-column: 5/7;
}

#pch-shing21 {
  grid-row: 4;
  grid-column: 21/23;
  // background: white;
}

#pch-shing22 {
  grid-row: 5;
  grid-column: 20/24;
}

#pch-shing23 {
  grid-row: 3;
  grid-column: 17/21;
  // background: black;
}

#pch-shing24 {
  grid-row: 2;
  grid-column: 18/20;
}

#pch-shing25 {
  grid-row: 4;
  grid-column: 19/21;
}

#pch-shing26 {
  grid-row: 5;
  grid-column: 18/20;
}

#pch-shing27 {
  grid-row: 6;
  grid-column: 17/23;
}

#pch-shing28 {
  grid-row: 5;
  grid-column: 20/22;
}

#pch-shing29 {
  grid-row: 6;
  grid-column: 19/21;
}

#pch-shing30 {
  grid-row: 5;
  grid-column: 32/34;
}

#pch-shing31 {
  grid-row: 6;
  grid-column: 31/33;
}

#pch-shing32 {
  grid-row: 5;
  grid-column: 36/38;
}

#pch-shing33 {
  grid-row: 4;
  grid-column: 33/35;
}

#pch-shing34 {
  grid-row: 6;
  grid-column: 35/37;
}

#pch-shing35 {
  grid-row: 4;
  grid-column: 35/37;
}
// background: red;

#pch-shing36 {
  grid-row: 3;
  grid-column: 37/39;
}

#pch-shing37 {
  grid-row: 3;
  grid-column: 34/36;
}

#pch-shing38 {
  grid-row: 2;
  grid-column: 36/38;
}

#pch-shing39 {
  grid-row: 1;
  grid-column: 33/39;
}

#pch-shing40 {
  grid-row: 1;
  grid-column: 48/50;
}

#pch-shing41 {
  grid-row: 2;
  grid-column: 51/53;
}

#pch-shing42 {
  grid-row: 3;
  grid-column: 50/54;
}

#pch-shing43 {
  grid-row: 4;
  grid-column: 53/55;
}

#pch-shing44 {
  grid-row: 5;
  grid-column: 54/56;
}

#pch-shing45 {
  grid-row: 6;
  grid-column: 55/57;
}

#pch-shing46 {
  grid-row: 6;
  grid-column: 53/55;
}

#pch-shing47 {
  grid-row: 6;
  grid-column: 47/53;
}

#pch-shing48 {
  grid-row: 5;
  grid-column: 46/52;
}

#pch-shing49 {
  grid-row: 6;
  grid-column: 49/51;
}

#pch-shing50 {
  grid-row: 4;
  grid-column: 48/50;
}

#pch-shing51 {
  grid-row: 2;
  grid-column: 47/49;
}

#pch-shing52 {
  grid-row: 4;
  grid-column: 48/50;
}

#pch-shing53 {
  grid-row: 4;
  grid-column: 44/46;
}

#pch-shing54 {
  grid-row: 4;
  grid-column: 44/48;
}

#pch-shing55 {
  grid-row: 5;
  grid-column: 47/49;
}
// mid-roof-start
#pch-shing56 {
  grid-row: 1;
  grid-column: 37/39;
}

#pch-shing57 {
  grid-row: 2;
  grid-column: 36/38;
}

#pch-shing58 {
  grid-row: 3;
  grid-column: 37/39;
}

#pch-shing59 {
  grid-row: 4;
  grid-column: 38/40;
}

#pch-shing60 {
  grid-row: 4;
  grid-column: 34/36;
}

#pch-shing61 {
  grid-row: 5;
  grid-column: 35/37;
}

#pch-shing62 {
  grid-row: 4;
  grid-column: 40/42;
}

#pch-shing63 {
  grid-row: 3;
  grid-column: 39/41;
}

#pch-shing64 {
  grid-row: 2;
  grid-column: 38/40;
}

#pch-shing65 {
  grid-row: 1;
  grid-column: 37/39;
}

#pch-shing66 {
  grid-row: 1;
  grid-column: 25/27;
}

#pch-shing67 {
  grid-row: 2;
  grid-column: 26/28;
}

#pch-shing68 {
  grid-row: 3;
  grid-column: 24/26;
}

#pch-shing69 {
  grid-row: 4;
  grid-column: 23/25;
}

#pch-shing70 {
  grid-row: 5;
  grid-column: 28/30;
}

#pch-shing71 {
  grid-row: 5;
  grid-column: 3/5;
}

#pch-shing72 {
  grid-row: 4;
  grid-column: 2/4;
}

#pch-shing73 {
  grid-row: 3;
  grid-column: 3/5;
}

#pch-shing74 {
  grid-row: 2;
  grid-column: 2/4;
}

#pch-shing75 {
  grid-row: 1;
  grid-column: 3/6;
}

#pch-shing76 {
  grid-row: 1;
  grid-column: 11/13;
}

#pch-shing77 {
  grid-row: 2;
  grid-column: 16/18;
}

#pch-shing78 {
  grid-row: 3;
  grid-column: 14/16;
}

#pch-shing79 {
  grid-row: 4;
  grid-column: 12/14;
}

#pch-shing80 {
  grid-row: 2;
  grid-column: 12/14;
}

#pch-shing81 {
  grid-row: 1;
  grid-column: 11/13;
}

#pch-shing82 {
  grid-row: 4;
  grid-column: 14/16;
}

#pch-shing83 {
  grid-row: 3;
  grid-column: 13/17;
}

#pch-shing84 {
  grid-row: 3;
  grid-column: 35/37;
}

#pch-shing85 {
  grid-row: 1;
  grid-column: 13/15;
}

#pch-shing86 {
  grid-row: 2;
  grid-column: 22/24;
}

#pch-shing87 {
  grid-row: 1;
  grid-column: 23/25;
}

#pch-shing88 {
  grid-row: 1;
  grid-column: 35/37;
}

#pch-shing89 {
  grid-row: 4;
  grid-column: 25/27;
}

#pch-shing90 {
  grid-row: 5;
  grid-column: 37/39;
}

#pch-shing91{
  grid-row: 1;
  grid-column: 3/11;
}

#pch-shing92{
  grid-row: 2;
  grid-column: 16/24;
}

#pch-shing93{
  grid-row: 1;
  grid-column: 17/23;
}

#pch-shing94{
  grid-row: 1;
  grid-column: 24/27;
}

#pch-shing95{
  grid-row: 1;
  grid-column: 27/29;
}

#pch-shing96{
  grid-row: 1;
  grid-column: 31/33;
}

#pch-shing97{
  grid-row: 1;
  grid-column: 33/35;
}

#pch-shing98{
  grid-row: 2;
  grid-column: 32/34;
}

#pch-shing99{
  grid-row: 2;
  grid-column: 34/36;
}

#pch-shing100{
  grid-row: 3;
  grid-column: 33/35;
}

#pch-shing101{
  grid-row: 2;
  grid-column:10/12;
}

#pch-shing102{
  grid-row:2;
  grid-column:12/14;
}

#pch-shing103{
  grid-row:2;
  grid-column:10/12;
}

#pch-shing104{
  grid-row: 3;
  grid-column:9/11;
}

#pch-shing105{
  grid-row:4;
  grid-column:12/14;
}

#pch-shing106{
  grid-row:1;
  grid-column:13/15;
}

#pch-shing107{
  grid-row:3;
  grid-column:21/23;
}

#pch-shing108{
  grid-row:3;
  grid-column:23/25;
}

#pch-shing109{
  grid-row:2;
  grid-column:24/26;
}

#pch-shing110{
  grid-row: 4;
  grid-column: 24/26;
}




/*============MANSARD ROOF END===============*/


.p-roofsec-right-top {
  grid-column: 1/-1;
  grid-row: 1;
}

.p-roofsec-right-mid {
  grid-column: 1/3;
  grid-row: 2;
  border-bottom-right-radius: 6px;
}

.p-roofsec-right-bot {
  grid-column: 1;
  grid-row: 3;
  border-bottom-right-radius: 8px;
}

.peach-right-gable {
  grid-row: 2;
  grid-column: 4/-1;
  display: grid;
  grid-template-columns: 56px 6px 4px 3px 4px;
  grid-template-rows: 3px 21px 9px 12px 7px auto;
  // background: maroon;
}
// 5 X 4

.gable-rt-roof {
  grid-column: 1/4;
  grid-row: 2;
  border-radius: 0 2px 2px 0;
}

.gable-rt-gutter {
  grid-column: 1/3;
  grid-row: 3/4;
  border-radius: 0 0 4px 0;
}

.gable-rt-roof-frame {
  grid-column: 1;
  grid-row: 4/-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.rt-gab-shing-container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1px;
}

#gab- {
  &shing- {
    &1 {
      grid-row: 1;
      grid-column: 7/-1;
    }

    &2 {
      grid-row: 2;
      grid-column: 3/6;
    }

    &3 {
      grid-row: 4;
      grid-column: 4/6;
    }

    &4 {
      grid-row: 7;
      grid-column: 7/9;
    }

    &5 {
      grid-row: 1;
      grid-column: 5/7;
    }

    &6 {
      grid-row: 1;
      grid-column: 3/5;
    }

    &7 {
      grid-row: 4;
      grid-column: 6/8;
    }

    &8 {
      grid-row: 2;
      grid-column: 8;
    }

    &9 {
      grid-row: 2;
      grid-column: 6/8;
    }

    &10 {
      grid-row: 4;
      grid-column: 8;
    }

    &11 {
      grid-row: 3;
      grid-column: 7/9;
    }

    &12 {
      grid-row: 3;
      grid-column: 5/7;
    }

    &13 {
      grid-row: 6;
      grid-column: 8;
    }

    &14 {
      grid-row: 5;
      grid-column: 5/7;
    }

    &15 {
      grid-row: 5;
      grid-column: 7/9;
    }

    &16 {
      grid-row: 6;
      grid-column: 6/8;
    }
  }
}

.peach-gutter-top-container {
  width: 410px;
  height: 20px;
  grid-row: 3;
  grid-column: 1;
}

.peach-gutter-top {
  display: grid;
  grid-template-columns: 414px 7px 8px;
  grid-template-rows: 7px 6px 7px;
  width: 425px;
  height: 20px;
  left: -2px;
  top: 0;
  position: relative;
}

.peach-gutter-top-lip {
  grid-column: 1/-1;
  grid-row: 1;
  border-bottom-right-radius: 4px;
}

.peach-gutter-top-mid {
  grid-column: 1/3;
  grid-row: 2;
  border-bottom-right-radius: 4px;
}

.peach-gutter-top-deco {
  grid-column: 1/2;
  grid-row: 3;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 4px;
}

.peach-gutter-base {
  grid-row: 4;
  grid-column: 1;
  display: grid;
}

.peach-facade {
  grid-column: 1;
  grid-row: 5;
}
// Peach 3rd floor======================

.pch-floor-3 {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 28px 86px 47px 86px 47px 86px 28px;
  grid-template-rows: 10px 129px;
}

.pch-f3-window-left {
  grid-column: 2;
  grid-row: 2;
  background-color: #186a56;
}

.pch-f3-window-ctr {
  grid-column: 4;
  grid-row: 2;
  background-color: #186a56;
}

.pch-f3-window-right {
  grid-column: 6;
  grid-row: 2;
  background-color: #186a56;
}
// Peach 2nd floor======================
// width==> 408px
.pch-floor-2 {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 387px 1fr;
  grid-template-rows: 16px 140px;
}

.pch-f2-windows-group {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 6px 103px 1fr 103px 1fr 103px 6px;
  grid-template-rows: 10px 88px auto;
}
// peach house width 408px

.pch-f2-window-left {
  grid-column: 2;
  grid-row: 2/4;
  background-color: #186a56;
}

.pch-f2-window-ctr {
  grid-column: 4;
  grid-row: 2/4;
  background-color: #186a56;
}

.pch-f2-window-right {
  grid-column: 6;
  grid-row: 2/4;
  background-color: #186a56;
}
// Peach 1st floor======================
.pch-floor-1 {
  grid-column: 1;
  grid-row: 4;
  background-color: #darkgrey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 144px;
}

.pch-f1-upper {
  grid-columns: 1;
  grid-rows: 2;
  display: grid;
  grid-template-columns: 10px 136px auto;
  grid-template-rows: 1;
}

.pch-f1-awning {
  grid-column: 2;
  grid-row: 1;
  background: #3d2c19;
}

.pch-f1-lower {
  grid-column: 1;
  grid-row: 2;
  // background: #cc6eff;
  // opacity: .1;
  display: grid;
  grid-template-columns: 18px 118px 19px 1fr 30px 1fr 20px;
  grid-template-rows: 1fr;
}

.pch-f1-door-left {
  grid-column: 2;
  grid-rows: 1;
  background: #4b301c;
}

.pch-f1-window-ctr {
  grid-column: 4;
  grid-row: 1;
  background: #186a56;
}

.pch-f1-window-right {
  grid-column: 6;
  grid-rows: 1;
  background: #186a56;
}

.foundation-container {
  grid-row: 6;
  grid-column: 1;
  position: relative;
  z-index: 10;
}

.peach-foundation {
  width: 414px;
  height: 26px;
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 18px 118px 274px 4px;
  grid-template-rows: 10px 16px;
}

.foundation-top {
  grid-column: 1/5;
  grid-row: 1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.foundation-bot {
  grid-column: 1/4;
  grid-row: 2;
}

.peach-steps {
  grid-column: 2/3;
  grid-row: 1/-1;
}
