/* Peach house profile
  sky:114
  rooftop:14
  roof:92
  gutter:24
  gutter:24
  facade:458
  foundation:2
  */

.peach {
  background-color: #7391c3;
}

.peach-sky {
  background: linear-gradient(0deg, #b2b4ac 0%, #c0bdb0 50%, #bab9ac 100%);
}
.peach-rooftop {
  background: linear-gradient(180deg, #675241 0%, #5a3f29 100%);

}
// p-roof is going to be left chimney, sky and right roof so 3 cols
.peach-roof { //brdr-bot can fill in top of gutter-top so... 96 instead of 92
  background-color: #c5c1b3;
}
.peach-gutter-top {
  background-color: #d2b18c;
  border-bottom: 1px solid #a7815c;
}
.peach-gutter-bottom {
background-color: #ead2b0;
border-bottom: 2px solid #a97347;
}
.peach-facade {
background: linear-gradient(135deg, #ebc58e 0%, #cfa573 100%);
}

.peach-foundation {

background: linear-gradient(90deg, #a0462e 0%, #c46138 100%);
}
