/* Peach house profile
  sky:114
  rooftop:14
  roof:92
  gutter:24
  gutter:24
  facade:458
  foundation:2
  */

.peach {
  background-color: #7391c3;
}

.peach-sky {
  background: transparent;
}

.peach-chimney-left {
position: relative;
}

.peach-chimney-right {
position: relative;
}

.peach-chimney-cap {
  grid-row: 1;
}

.peach-chimney-crown {
  grid-row: 2;
  width: 34px;
  height: 10px;
  position: absolute;
  top:0;
  left: -4px;
  border-radius: 0px 0px 4px 4px;
}

.peach-chimney-base {
  background-color: #e5b689;
  border-bottom: 2px solid #b18157;
}
.peach-chimbody{
  // filter: blur(10px);
  &-left {
    // background-color: #e5bd8e;
    background: linear-gradient(119deg, #d8ac75 0%, #d8ac75 70%,#bc8558 78%, #986b46 100%);
  }
  &-right {
    background-color: #d8ac75;
  }
}



.peach-rooftop{
  &-section{
    &-left {
      background-color: yellow;
    }
    &-right {
      background-color: green;
    }
  }
}



.gable-rt-roof {
  background-color: #b0a995;
  border-right: 2px solid #ad8862;
  border-bottom: 2px solid #907a63;
  box-shadow: inset -3px 1px 1px 1px rgba(91, 48, 23, 0.4);
}
.gable-rt-gutter {
  background-color: #d1af90;
  border-bottom: 1px solid #9d7857;
  box-shadow: -3px 3px 3px 1px rgba(62, 62, 62, 0.7);
  z-index: 3;
}
.gable-rt-roof-frame {
  border-top: 6px solid #bc9b7c;
  border-right: 5px solid #bc8f65;
  background-color: #997e6b;
}





.peach-roof { //brdr-bot can fill in top of gutter-top so... 96 instead of 92
  // background-color: #c5c1b3;
}


// .roof-mansard {
//
// }

.peach-gutter-top {
  background-color: #d2b18c;
  border-bottom: 1px solid #a7815c;
}
.peach-gutter-bottom {
background-color: #ead2b0;
border-bottom: 2px solid #a97347;
}
.peach-facade {
background: linear-gradient(135deg, #ebc58e 0%, #cfa573 100%);
}

.peach-foundation {

background: linear-gradient(90deg, #a0462e 0%, #c46138 100%);
}
