
.dark-house-col {
  grid-column: 3;
  display: grid;
  grid-template-rows: 386px 86px 142px 136px;
  grid-template-columns: 1fr;
}

.dark-sky {
  grid-row: 1;
  grid-column: 1;
}

.dark-roof {
  grid-row:2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9px 5px 1fr;
}

.dk-roof-top {
  grid-row:1;
  grid-column: 1;
}
.dk-roof-mid {
  grid-row:2;
  grid-column: 1;
}
.dk-roof-bot {
  grid-row:3;
  grid-column: 1;
}



.dark-facade {
  grid-row:3;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15px 1fr;
}

.dk-gutters {
  grid-column: 1;
  grid-row:1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8px 7px;
}
.dk-gutter-top {
  grid-column: 1;
  grid-row:1;
  border-top: 1px solid #2a180c;
  background: linear-gradient(90deg, #7d6042 50%, #493922 80%);
  // box-shadow: -2px 5px 2px 5px solid black;
  z-index: 3;
}
.dk-gutter-top {
  grid-column: 1;
  grid-row:1;
  border-top: 1px solid #2a180c;
  background: linear-gradient(90deg, #7d6042 50%, #493922 80%);

}
.dk-gutter-bot {
  grid-column: 1;
  grid-row:2;
  background: linear-gradient(90deg, #7d6042 50%, #493922 80%);
  border-bottom: 1px solid rgba(96, 67, 35, 0.8);
  // z-index: -2;
}

.dark-door {
  grid-row:4;
  grid-column: 1;
}
