/* dark house profile:  386 + 86 + 142 + 132*/


.dark-house-col {
  background-color: #aa87a9;
  grid-column: 3;
  /*grid-row: 3;*/
  display: grid;
  grid-template-rows: 386px 86px 142px 136px;
  grid-template-columns: 1fr;
}

.dark-sky {
  grid-row: 1;
  background: linear-gradient(180deg, #b3b1a6 0%,  #adb0a2 40%, #659289 64%, #2e615b 100%);
  border-bottom: 2px solid #4b5545;
}

.dark-roof {
  grid-row:2;
  background: linear-gradient(180deg, #675241 0%, #5a3f29 100%);
  border-top: 3px solid #5d513b;
  border-bottom: 2px solid #76522d;
}
/* FIXME:  above the border bot--do "gutters" for dark house */

.dark-facade {
  grid-row:3;
  background: linear-gradient(140deg, #8d6a45 0%, #724421 100%);
  border-top: 2px solid #805731;
  border-bottom: 1px solid #8d6a45;
}
.dark-door {
  grid-row:4;
  border-top: 2px solid #99734f;
  box-shadow: inset 0px 3px 10px -3px rgba(65, 26, 8, 0.89);
  background: linear-gradient(45deg, #c5a987 0%, #96734f 100%);

}
