/*===============BRICK Color notes
*
*
*/
.brick-top-chimneys {}

.brick-top-chimney-capL {
  background-color: #b05b3e;
  border-bottom: 3px solid #77371f;
  border-top: 2px solid #9b6d59;
}

.brick-top-chimney-capR {
  background: #a15338;
  border-bottom: 3px solid #77371f;
  border-top: 2px solid #9b6d59;
}

.brick-top-chimney-bodyL {
  background: #a75537;
  box-shadow: inset 0 0 2px 1px #73402d;
}

.brick-top-chimney-bodyR {
  background: #a75537;
  box-shadow: inset 0 0 2px 1px #73402d;
}

.brick-roof {
  background: linear-gradient(345deg, #5d5646 0%, #897565 100%);
  border-top: 3px solid #9e563d;
  border-bottom: 2px solid #45372c;
  box-shadow: 0 -1px 1px 0 #a5694f;
}

.shingles-grid {}
// https://css-tricks.com/useful-nth-child-recipies/
// NOTE: Do this blur trick on random tiles with .shing class

.shing {
  filter: blur(2px);
  opacity: 0.7;
}
// ========SHINGLES==============

.shing.tan {
  background-color: map-get($colors, shing-tan);
}

.shing.brown {
  background-color: map-get($colors, shing-br);
}

.shing.green {
  background-color: map-get($colors, shing-gr);
}

#brick-roof-front-container {
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.1) 0% , transparent 10%, transparent 100%);
}

#front-top-wall-left {
  background: linear-gradient(60deg, #bf8a60 35%, #c69b71 100%);
  border: 1px solid #835f45;
  border-bottom-width: 0;
  box-shadow: 2px 10px 2px 2px rgba(#000000, 0.5);
}

#front-chimney-left-cap {
  border-radius: 2px;
  background-color: #cf7b57;
  border-bottom: 3px solid #943f20;
  border-right: 1px solid #943f20;
  border-left: 1px solid #943f20;
}

#front-chimney-left {
  //body
  border-radius: 2px;
  background-color: #c26543;
  background: linear-gradient(0deg, #a16c4c 0%, #c26543 20%);
  border: 1px solid #5e270c;
  border-bottom-width: 0;
  border-top-width: 0;
  box-shadow: 10px 7px 8px -5px rgba(0, 0, 0, 0.2);
}

#front-bottom-wall-left {
  border: 2px solid #4d2714;
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-radius: 2px;
  background: linear-gradient(20deg, #dcb685 0%, #d2b083 100%);
  box-shadow: 8px 14px 8px -5px rgba(0, 0, 0, 0.4);
}

#front-base-left {
  background-color: #b55a32;
  box-shadow: inset 0 5px 2px -3px rgba(0, 0, 0, 0.6);
}

#front-top-wall-right {
  background: linear-gradient(20deg, #bf8a60 0%, #a27d59 100%);
  border: 1px solid #835f45;
  border-bottom-width: 0;
  box-shadow: -12px 9px 1px 1px rgba(#000000, 0.4);
}

#front-chimney-right-cap {
  border-radius: 2px;
  background-color: #c46e53;
  border-bottom: 3px solid #954426;
  border-right: 1px solid #943f20;
  border-left: 1px solid #943f20;
  box-shadow: -13px 3px 2px -1px rgba(#000000, 0.1);
}

.shadow-brk-roof {
  opacity: 0.5;
  // filter: blur(4px);
  background: black;
}

#front-chimney-right {
  //body
  border-radius: 2px;
  background: linear-gradient(0deg, #a16c4c 0%, #c26543 20%);
  border: 1px solid #5e270c;
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-top-width: 0;
  box-shadow: -13px -5px 1px -4px rgba(#000000, .1);
}

#front-bottom-wall-right {
  background: linear-gradient(0deg, #c09874 0%, #cfb091 30%,#cfb091 70%, #b79673 100%);
  border-top-width: 0;
  border: 1px solid #4d2714;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-radius: 2px;
}

#front-base-right {
  background-color: #b55a32;
}

#brick-roof-shad {
  //SVG
  filter: blur(3px);
  background: rgba(#000000, 0.45);
}

.brick-gutters {
  background: linear-gradient(90deg, #522f1c 0%, #a85b29 80%);
}

.brick-gutter-top {
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.brick-gutter-mid {
  background-color: #dac3a1;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 8px;
  box-shadow: -1px 10px 10px 5px rgba(#000000, 0.4);
}

.brick-gutter-bot {
  background-color: #85674c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 4px;
  z-index: -1px;
}

.brick-facade {
  background: linear-gradient(25deg, #812508 0%, #b3532a 50%, #c16b46 100%);
  box-shadow: -60px 150px 15px 5px rgba(#000000, 0.1);
}

.br-attic {
  box-shadow: -2px 1px 2px 0 rgba(#000000, 0.7);
}

.brk-attic-top {
  background: wheat;
}

.brk-attic-winframe-left {
  background: linear-gradient(0deg, #1f160d 0%, #1d150d 100%);
  display: grid;
  grid-template-columns: 3px 1fr 1px 1fr 1px 1fr;
  grid-template-rows: 1fr;
}

.attic-frame {
  grid-row: 1;
  grid-column: 1;
  background: #967959;
  background: linear-gradient(0deg, #967959 45%, #412613 90%);
}

.attic-bar1 {
  grid-row: 1;
  grid-column: 3;
  background: linear-gradient(0deg, #463325 20%, #1d150d 60%);
}

.attic-bar2 {
  grid-row: 1;
  grid-column: 5;
  background: linear-gradient(0deg, #463325 20%, #1d150d 60%);
}

.brk-attic-winframe-ctr {
  background: linear-gradient(0deg, #1f160d 0%, #1d150d 100%);
  grid-template-rows: 1fr;
  display: grid;
  grid-template-columns: 3px 1fr 1px 1fr 1px 1fr;
  grid-template-rows: 1fr;
}

.brk-attic-winframe-right {
  background: linear-gradient(0deg, #1f160d 0%, #1d150d 100%);
  display: grid;
  grid-template-columns: 3px 1fr 1px 1fr 1px 1fr;
  grid-template-rows: 1fr;
}

.brick-attic-mid {
  background-color: #b59677;
  border-bottom: 1px solid #83654c;
  border-radius: 2px;
}

.brick-attic-bot1 {
  background-color: #d5bba0;
  border-bottom: 1px solid #83654c;
}

.brick-attic-bot2 {
  background-color: #d5bba0;
  border-bottom: 1px solid #83654c;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.brick-attic-bot3 {
  background-color: #dbc0a2;
  border-bottom: 1px solid #83654c;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
//=====================Brick Attic END=====================
//===================Floor 3 & 2 START =======================
.brk-top-floors-container {
  grid-row: 3;
  grid-column: 1;
  display: grid;
  grid-template-columns: 16px 394px 16px;
  grid-template-rows: 128px 24px 136px;
  // background: yellow;
}

.brk-floor3 {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: 10px 102px 39px 102px 28px 102px 10px;
  grid-template-rows: 86px 32px 10px;
}

.brk-floor3-window-left {
  grid-column: 2;
  grid-row: 1/3;
  // background-color: fuchsia;
  display: grid;
  grid-template-columns: 15px 5px 6px 53px 6px 5px 15px;
  grid-template-rows: 5px 5px 2px 105px; // 3 is space under awning
}

.brk-f3-awning-top-container {
  grid-column: 2/7;
  grid-row: 1;
  background-color: #ac9580;
  border-bottom: 2px solid #a37a5c;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: -4px 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.brk-f3-awning-base-container {
  grid-column: 3/6;
  grid-row: 2;
  background: linear-gradient(90deg, #c2ab90 0%, #9f8d7e 100%);
  border-bottom: 2px solid #9c8979;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-right: 1px solid #a18c7a;
  box-shadow: -2px 3px 1px 0 rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.brk-f3-shutter-pane {
  background: linear-gradient(35deg, #665d39 0%, #6f6836 50%, #6b5722 100%);
  box-shadow: inset -1px 2px 2px 0 rgba(0, 0, 0, 0.6);
}

.brk-f3-shutter-board {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 2px;
  // background: grey;
  padding: 3px;

  &.win-l-side-left {
    // window left
    grid-column: 1/4;
    grid-row: 4;
    background: linear-gradient(120deg, #6b5722 0%, #666c3d 100%);
    z-index: 12;
    box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.6);
  }

  &.win-l-side-right {
    grid-column: 5/-1;
    grid-row: 4;
    background: linear-gradient(90deg, #61602f 0%, #695b34 100%);
  }

  &.win-ctr-side-left {
    // window left
    grid-column: 1/4;
    grid-row: 4;
    background: #67745a;
  }

  &.win-ctr-side-right {
    grid-column: 5/-1;
    grid-row: 4;
    background: #566e4c;
  }

  &.win-r-side-left {
    // window left
    grid-column: 1/4;
    grid-row: 4;
    background: #68745a;
  }

  &.win-r-side-right {
    grid-column: 5/-1;
    grid-row: 4;
    background: #566e4c;
  }
}

.brk-f3-curtain {
  &-left {
    grid-column: 4;
    grid-row: 4;
    background-color: #566986;
  }

  &-ctr {
    grid-column: 4;
    grid-row: 4;
    background-color: #7e5686;
  }

  &-right {
    grid-column: 4;
    grid-row: 4;
    background-color: #c6c57b;
  }
}

.brk-f3-window-frame {
  //muntin container
  grid-column: 4;
  grid-row: 3/5;
  background: transparent;
  border: 2px solid #504c2b;
  border-left-color: #666244;
  box-shadow: inset -2px 2px 2px 1px rgba(0, 0, 0, 0.8);
  position: relative;
}

.brk-f3-munt-container {
  grid-column: 4;
  grid-row: 3/5;
  position: relative;
}

.brk-muntin-vert-left {
  //w: 2px
  width: 1px;
  height: 105px;
  left: 16px;
  top: 0;
  position: absolute;
}

.brk-muntin-vert-right {
  //w: 2px
  width: 1px;
  height: 105px;
  left: 33px;
  top: 0;
  position: absolute;
}

.brk-muntin-horiz-thin1 {
  //h: 2px
  width: 50px;
  height: 1px;
  left: 0;
  top: 22px;
  position: absolute;
}

.brk-muntin-horiz-thick {
  //h: 3px
  width: 50px;
  height: 3px;
  left: 0;
  top: 42px;
  border-bottom: 1px solid #474235;
  position: absolute;
}

.brk-muntin-horiz-thin2 {
  //h: 2px
  width: 50px;
  height: 1px;
  left: 0;
  top: 62px;
  position: absolute;
}

.brk-muntin-horiz-thin3 {
  //h: 2px
  width: 50px;
  height: 1px;
  left: 0;
  top: 85px;
  position: absolute;
}

.brk-munt {
  // this will work in case there's no time for SVG "wave" effect
  box-shadow: -4px 4px 1px 1px rgba(#000000, 0.3);
  background: #a79467;
  opacity: 0.9;
}

.brk-floor3-window-ctr {
  grid-column: 4;
  grid-row: 1/3;
  // background-color: rgba(92, 159, 40, 0.79);
  display: grid;
  grid-template-columns: 15px 5px 6px 53px 6px 5px 15px;
  grid-template-rows: 5px 5px 2px 105px; // 3 is space under awning
}

.brk-floor3-window-right {
  grid-column: 6;
  grid-row: 1/3;
  // background-color: rgba(#289f46, 0.79);
  display: grid;
  grid-template-columns: 15px 5px 6px 53px 6px 5px 15px;
  grid-template-rows: 5px 5px 2px 105px; // 3 is space under awning
}

.brk-deck-rail {
  grid-column: 1/-1;
  grid-row: 2;
  // background-color: rgba(#898c8a, 0.84);
  z-index: 20;
  position: relative;
}

#brk-rail-vector {
  grid-column: 1/-1;
  grid-row: 2;
  position: relative;
  top: -9px;
  left: 0;
  z-index: 22;
  .st0{fill:none;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
  .st2{fill:none;stroke:#000000;}
  .st3{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
}
// .brk-deck-rail {
// }

.brk-floor3-deck {
  grid-column: 1/-1;
  grid-row: 3;
  display: grid;
  grid-template-columns: 2px 1fr 2px;
  grid-template-rows: 4px 6px;
  z-index: 20;
}

.brk-f3-top {
  grid-row: 1;
  grid-column: 1/-1;
  background: linear-gradient(90deg, #b69174 30%, #a37856 100%);
}

.brk-f3-bot {
  grid-row: 2;
  grid-column: 2;
  background: linear-gradient(90deg, #d3c09f, #c2ae93 65%, #c0a48c 100%);
  border-bottom: 1px solid #634f34;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: -4px 4px 3px 1px rgba(0, 0, 0, 0.4);
}

.brk-floor2 {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-template-columns: 8px 100px 40px 104px 28px 104px 10px;
  grid-template-rows: 94px 32px 10px;
}

.brk-floor2-window-left {
  grid-column: 2;
  grid-row: 1/3;
  // background-color: rgba(#4f693d, 0.79);
  display: grid;
  grid-template-columns: 15px 5px 6px 53px 6px 5px 15px;
  grid-template-rows: 5px 5px 2px 113px;
}

.brk-floor2-window-ctr {
  grid-column: 4;
  grid-row: 1/3;
  // background-color: rgba(#4f693d, 0.79);
  display: grid;
  grid-template-columns: 15px 5px 6px 53px 6px 5px 15px;
  grid-template-rows: 5px 5px 2px 113px;
}

.brk-floor2-window-right {
  grid-column: 6;
  grid-row: 1/3;
  // background-color: rgba(#4f693d, 0.79);
  display: grid;
  grid-template-columns: 15px 5px 6px 53px 6px 5px 15px;
  grid-template-rows: 5px 5px 2px 113px;
}

.brk-floor2-deck-rail {
  grid-column: 1/-1;
  grid-row: 2;
  background-color: rgba(#898c8a, 0.84);
  z-index: 30;
}

.brk-floor2-deck {
  //394 X 10px
  grid-column: 1/-1;
  grid-row: 3;
  z-index: 30;
  display: grid;
  grid-template-columns: 2px 1fr 2px;
  grid-template-rows: 4px 6px;
  z-index: 20;
}

.brk-first-floor-container {
  grid-row: 4;
  grid-column: 1;
  display: grid;
  grid-template-columns: 10px 10px 394px 10px;
  grid-template-rows: 10px 1fr;
}
// Once obscured by shadow, these will be darker but peak out at the right

.brk-front-awning {
  //h:10px
  grid-column: 1/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2px 4px auto 4px 2px;
  grid-template-rows: 3px 3px 4px;
}

.brk-front-awning-top {
  grid-column: 1/-1;
  grid-row: 1;
  background-color: #ac8568;
}

.brk-front-awning-mid {
  grid-column: 1/5;
  grid-row: 2;
  background-color: #ac8568;
  border-top: 1px solid #977456;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.brk-front-awning-bot {
  grid-column: 1/4;
  grid-row: 3;
  // background-color: pink;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #c6a387;
  border-bottom: 0 solid transparent;
}

.brk-entrances-container {
  grid-column: 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 252px 10px 130px;
  grid-template-rows: 126px;
}

.brk-triple-door-container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2px 4px 4px 232px 2px 4px 2px;
  grid-template-rows: 4px 4px 34px 84px 0; // 126
  // background: teal;
}

.brk-trip-door-awning-top {
  grid-column: 1/-1;
  grid-row: 1;
  background: linear-gradient(0deg, #806349 0%, #2e1705 100%);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.brk-trip-door-awning-bot {
  grid-column: 3/6;
  grid-row: 2;
  border-bottom-right-radius: 5px;
  border-left: 4px solid transparent;
  border-top: 4px solid #2f1d0f;
  border-bottom: 0 solid #2f1d0f;
}

.brk-trip-door-top {
  grid-column: 4;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 62px 1fr 62px 1fr 62px 1fr;
  grid-template-rows: 5px 20px 3px 3px 3px;
  // background-color: purple;
  background: linear-gradient(180deg, #866343 0%, #a27f5f 100%);
}

.vent {
  grid-row: 2;
  background: #1e1106;
  border-radius: 1px;
  background: linear-gradient(0deg, #2a190b 80%, #a27f5f 100%);
}

.brk-trip-vent-left {
  grid-column: 2;
}

.brk-trip-vent-ctr {
  grid-column: 4;
}

.brk-trip-vent-right {
  grid-column: 6;
}

.brk-trip-door-frame-trim {
  grid-column: 1/-1;
  grid-row: 4;
  background: #7b5c3d;
  border-top: 1px solid #906132;
  border-bottom: 1px solid #5d3e22;
}

.brk-trip-door-bot {
  grid-column: 4;
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 62px 1fr 62px 1fr 62px 1fr;
  grid-template-rows: 80px 4px;
  background: linear-gradient(0deg, #b49475 55%, #a27f5f 65%);
  // background-color: orange;
}

.trip-door-bottom-map {
  // background: #744517;
  box-shadow: inset -4px 4px 3px 0 rgba(0, 0, 0, 0.4);
  padding: 8% 10% 10%;
  /*firefox */
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 18px 18px 4px;
  grid-gap: 10px;
  position: relative;
}

.front-step {
  grid-column: 1/-1;
  grid-row: 2;
  background: #9f836c;
}

.trip-door-knob-container {
  grid-row: 1/-1;
  grid-column: 1/-1;
  top: 42px;
  left: 24px;
  width: 2px;
  height: 2px;
  position: absolute;
}

.brk-trip-door-step-container {
  grid-column: 1/-1;
  grid-row: 2;
  bottom: -22px;
  left: 0;
  background: fuchsia;
  height: 4px;
  position: relative;
}

.knob {
  color: #deb17d;
  font-size: 4px;
  text-shadow: -1px 1px 1px #000;
}

.trip-door-panel-top {
  background-color: #150c02;
  grid-row: 1/3;
  border-radius: 1px;
}

.trip-door-panel-bot {
  background-color: #7c3d16;
  height: 14px;
  grid-row: 3;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 1);
}

.brk-trip-door-left {
  grid-column: 2;
  background: linear-gradient(135deg, #3a1d0d 10%, #7a3a16 70%);
}

.brk-trip-door-ctr {
  grid-column: 4;
  background: linear-gradient(135deg, #54280b 10%, #7a391d 80%);
}

.brk-trip-door-right {
  grid-column: 6;
  background: linear-gradient(135deg, #583017 10%, #894925 90%);
}

.brk-right-door-container {
  grid-column: 3;
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr 114px;
  grid-template-columns: 1fr 102px 1fr;
  // border:20px solid burlywood;
  // background: fuchsia;
  z-index: 5;
}

.brk-right-inner-door {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22px 6px 86px;
  box-shadow: inset -2px 2px 1px 0 rgba(33, 33, 33, 0.8);
}

.brk-inner-door-grill {
  grid-column: 1/-1;
  grid-row: 1;
  display: grid;
  background-color: #21201e;
  display: grid;
  grid-template-columns: repeat(13, auto);
  grid-template-rows: 1fr;
  grid-gap: 2px;
  z-index: -1;
}

.bar {
  background: #21201e;
  border: 2px solid #4d4739;
  border-top-width: 0;
  border-bottom-width: 0;
}

.brk-inner-door-frame-top {
  grid-column: 1/-1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #wheat;
  z-index: -1;
}

.brk-right-door-sill-top {
  background: #7a6749;
}

.brk-right-door-sill-bot {
  background: #b19b83;
  overflow: hidden;
  z-index: -1;
  box-shadow: 0 2px 2px 0 rgba(0, 0,0, 0.6);
}

.brk-inner-door-panel-container {
  overflow: hidden;
  padding: 8% 6%;
  width: 102px;
  height: 86px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 16px 8px 8px 16px;
  grid-gap: 7px;
  background-color: #4b4016;
  z-index: -2;
}

.brk-right-front-door-panel {
  background-color: #5b4e1a;
  box-shadow: inset -2px 2px 1px 0 rgba(0, 0, 0, .55);
}

.brk-right-front-door-panel-tall {
  background-color: #574a14;
  grid-row: 2/4;
  box-shadow: inset -2px 2px 1px 0 rgba(0, 0, 0, .55);
}
//===================Floor 3 & 2 END=======================

.brick-container {
  overflow: hidden;
  font-family: sans-serif;
  z-index: -1; //prevents showing thru windows
  opacity: 0.09;
}

.brick {
  color: white;
  white-space: pre-wrap;
  // filter: blur(1px); //NOTE: blur is costly. just do opacity
  border-top: 1px solid white;

  &.odd {
    text-indent: 8px;
  }

  &.odd::before {
    content: "IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII";
  }

  &.even::before {
    content: "IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII";
  }
}
