/*===============BRICK Color notes
*
*
*/

.brick-house-col {
  // background: linear-gradient(0deg, #fafafa 0%, #000 100%);
}

.brick-house-col{
  /*background-color: rgb(75, 108, 138);*/
  color: ivory;
  border-bottom: 1px solid white;
}
.brick-sky {

}

.brick-top-chimneys {
}

.brick-top-chimney-capL {
  background-color: #b05b3e;
  border-bottom: 3px solid #77371f;
  border-top: 2px solid #9b6d59;
}

.brick-top-chimney-capR {
  background: #a15338;
  border-bottom: 3px solid #77371f;
  border-top: 2px solid #9b6d59;
}

.brick-top-chimney-bodyL {
  background: #a75537;
  box-shadow: inset 0px 0px 2px 1px #73402d;
}

.brick-top-chimney-bodyR {
  background: #a75537;
  box-shadow: inset 0px 0px 2px 1px #73402d;
}

.brick-roof {
  background: linear-gradient(345deg, #5d5646 0%, #897565 100%);
  border-top: 3px solid #9e563d;
  border-bottom: 2px solid #45372c;
  box-shadow: 0px -1px 1px 0px #a5694f;
}
.shingles-grid {
}
// https://css-tricks.com/useful-nth-child-recipies/
// NOTE: Do this blur trick on random tiles with .shing class
.shing {
  filter: blur(2px);
  opacity: .7;
}
// ========SHINGLES==============


.shing.tan {
  background-color: map-get($colors, shing-tan);
  // display: none;
}

.shing.brown {
  background-color: map-get($colors, shing-br);
  // display: none;
}

.shing.green {
  background-color: map-get($colors, shing-gr);
}

.brick-gutters {
  background: fuchsia;
}

.brick-gutter-top-left {
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62;
}

.brick-gutter-top-mid {
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62;
}

.brick-gutter-top-right {
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62;
}

.brick-gutter-bot-left {
  background-color: #4c2818;
  border: 3px solid #dac3a1;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}


.brick-gutter-bot-mid {
  background-color: #dac3a1;
}

.brick-gutter-bot-right {
  background-color: #745746;
}

// This class has shadow cast onto dark-house
.brick-facade {
  background: linear-gradient(45deg, #933812 0%, #a85b29 100%);
  box-shadow: -100px 130px 10px 2px rgba(#000000, 0.3);
}


.brick-attic-left{
  background-color: #b56642;
}

.brick-attic-mid{
  background-color: #c2a382;
  border-radius: 0px 0px 4px 4px;
}


.brick-container {
  overflow: hidden;
  color: ivory;
  font-family: sans-serif;
}
.brick {
  opacity: .1;
  filter: blur(1px);
  border-top: 1px solid white;
  &-odd::before {
  content: "IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII";
}
  &-even::before {
  content: "IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII";
}
}
