/*===============BRICK HOUSE Profile================*/
// width: 424px


/*
8 layers
64px 33 146px 14px 8px 18px 24px 440px;
 */
.brick-house-col {
  display: grid;
  grid-column: 4;
  grid-row: 1;
  grid-template-rows: 64px 33px 146px 14px 494px;
}

.brick-house-col {
  // position: relative;
}

.brick-sky {
  grid-row: 1;
  position: relative;
}

.brick-top-chimneys {
  grid-row: 2;
  display: grid;
  grid-template-columns: 28px 368px 28px; // = 424px
  grid-template-rows: 12px 21px;
  position: relative;
}

.brick-top-chimney-capL {
  grid-column: 1;
  grid-row: 1;
  z-index: 10;
  width: 33px;
  left: -3px;
  border-radius: 4px;
  position: relative;
}

.brick-top-chimney-capR {
  grid-column: 3;
  grid-row: 1;
  border-radius: 5px;
  width: 33px;
  height: 14px;
  z-index: 10;
  left: -2px;
  border-radius: 4px;
  position: relative;
}

.brick-top-chimney-bodyL {
  grid-column: 1;
  grid-row: 2;
  z-index: 10;
}

.brick-top-chimney-bodyR {
  grid-column: 3;
  grid-row: 2;
  z-index: 10;
}

.brick-roof {
  grid-column: 1;
  grid-row: 3;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(22, 19px);
  grid-template-rows: repeat(38, 1fr);
}
// ========SHINGLES START==============

#shing {
  &-tan {
    &1 {
      grid-column: 9/17;
      grid-row: 8;
    }

    &2 {
      grid-column: 18;
      grid-row: 4;
    }

    &3 {
      grid-column: 16;
      grid-row: 5;
    }

    &4 {
      grid-column: 1/16;
      grid-row: 1;
    }

    &5 {
      grid-column: 2/4;
      grid-row: 8/9;
    }

    &6 {
      grid-column: 1/8;
      grid-row: 12/14;
    }

    &7 {
      grid-column: 17/19;
      grid-row: 24;
    }

    &8 {
      grid-column: 24;
      grid-row: 24;
    }

    &9 {
      grid-column: 3/11;
      grid-row: 20;
    }

    &10 {
      grid-column: 11/13;
      grid-row: 27;
    }

    &11 {
      grid-column: 1/4;
      grid-row: 33;
    }

    &12 {
      grid-column: 23/26;
      grid-row: 15;
    }

    &13 {
      grid-column: 15;
      grid-row: 35;
    }

    &14 {
      grid-column: 31;
      grid-row: 7;
    }

    &15 {
      grid-column: 4;
      grid-row: 36;
    }
  }
}

#shing {
  &-br {
    &1 {
      grid-column: 3;
      grid-row: 7;
    }

    &2 {
      grid-column: 4;
      grid-row: 15;
    }

    &3 {
      grid-column: 5;
      grid-row: 21;
    }

    &4 {
      grid-column: 11;
      grid-row: 29;
    }

    &5 {
      grid-column: 13;
      grid-row: 18;
    }

    &6 {
      grid-column: 18;
      grid-row: 2;
    }

    &7 {
      grid-column: 21;
      grid-row: 17;
    }

    &8 {
      grid-column: 24;
      grid-row: 14;
    }

    &9 {
      grid-column: 19/21;
      grid-row: 25;
    }

    &10 {
      grid-column: 8;
      grid-row: 3;
    }

    &11 {
      grid-column: 18;
      grid-row: 36;
    }

    &12 {
      grid-column: 4;
      grid-row: 35;
    }

    &13 {
      grid-column: 20/23;
      grid-row: 34;
    }

    &14 {
      grid-column: 25/28;
      grid-row: 29;
    }

    &15 {
      grid-column: 25/-1;
      grid-row: 36;
    }
  }
}

#shing {
  &-gr {
    &1 {
      grid-column: 17;
      grid-row: 20;
    }

    &2 {
      grid-column: 4;
      grid-row: 10;
    }

    &3 {
      grid-column: 3;
      grid-row: 23;
    }

    &4 {
      grid-column: 21;
      grid-row: 14;
    }

    &5 {
      grid-column: 10;
      grid-row: 11;
    }

    &6 {
      grid-column: 9;
      grid-row: 28;
    }

    &7 {
      grid-column: 15;
      grid-row: 14;
    }

    &8 {
      grid-column: 20;
      grid-row: 19;
    }

    &9 {
      grid-column: 25;
      grid-row: 25;
    }

    &10 {
      grid-column: 20;
      grid-row: 28;
    }

    &11 {
      grid-column: 5;
      grid-row: 28;
    }

    &12 {
      grid-column: 1;
      grid-row: 35;
    }

    &13 {
      grid-column: 11;
      grid-row: 34;
    }

    &14 {
      grid-column: 23/25;
      grid-row: 35;
    }

    &15 {
      grid-column: 17;
      grid-row: 37;
    }
  }
}

// ========SHINGLES END================

.brick-gutters {
  grid-column: 1;
  grid-row: 4;
  display: grid;
  grid-template-columns: 6px 413px 5px;
  grid-template-rows: 7px 7px;
}
.brick-gutter {
  &-top-left {
    grid-row: 1;
    grid-column: 1;
  }
  &-top-mid {
    grid-column: 2;
    grid-row: 1;
  }
  &-top-right {
    grid-column: 3;
    grid-row: 1;
  }

  &-bot-left {
    grid-column: 1;
    grid-row: 2;
  }

  &-bot-mid {
    grid-column: 2;
    grid-row: 2;
  }

  &-bot-right {
    grid-column: 3;
    grid-row: 2;
  }
}
.brick-facade {
    grid-column: 1;
    grid-row: 5;
    display: grid;
    grid-template-columns: 18px auto 15px;
    grid-template-rows: 50px auto;
}

.brick-container {
  grid-column: 1/-1;
  grid-row: 1/-1;
}


.brick {
  padding: 0;
   margin: 0;
   font-size: 8px;
   font-weight: 400;
   line-height: 75%;
   letter-spacing: 1em;
}
.brick-odd {
  text-indent: 6px;
}

// subgrid overlapping facade
.brick-attic{
  &-row {
    grid-row: 1;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 18px auto 15px;
    grid-template-rows: 50px;
    z-index: 10;
  }
  &-left {
    grid-column: 1;
  }
  &-mid {
    grid-column: 2;
  }
  &-right {
    grid-column: 3;
  }
}
