/*===============BRICK Color notes
*
*
*/



.brick-top-chimneys {
}

.brick-top-chimney-capL {
  background-color: #b05b3e;
  border-bottom: 3px solid #77371f;
  border-top: 2px solid #9b6d59;
}

.brick-top-chimney-capR {
  background: #a15338;
  border-bottom: 3px solid #77371f;
  border-top: 2px solid #9b6d59;
}

.brick-top-chimney-bodyL {
  background: #a75537;
  box-shadow: inset 0px 0px 2px 1px #73402d;
}

.brick-top-chimney-bodyR {
  background: #a75537;
  box-shadow: inset 0px 0px 2px 1px #73402d;
}

.brick-roof {
  background: linear-gradient(345deg, #5d5646 0%, #897565 100%);
  border-top: 3px solid #9e563d;
  border-bottom: 2px solid #45372c;
  box-shadow: 0px -1px 1px 0px #a5694f;
}
.shingles-grid {
}
// https://css-tricks.com/useful-nth-child-recipies/
// NOTE: Do this blur trick on random tiles with .shing class
.shing {
  filter: blur(2px);
  opacity: .7;
}
// ========SHINGLES==============

.shing.tan {
  background-color: map-get($colors, shing-tan);
}

.shing.brown {
  background-color: map-get($colors, shing-br);
}

.shing.green {
  background-color: map-get($colors, shing-gr);
}

#brick-roof-front-container {
  // background: #4d5869;
  opacity: 0;
  top: 0;
  left: 0;
  position: relative;
}

#front-top-wall-left {
  grid-column: 1/3;
  grid-row: 1;
  background: linear-gradient(60deg, #bf8a60 35%,  #c69b71 100%);
  border: 1px solid #835f45;
  border-bottom-width: 0px;
  width: 12px;
  height: 14px;
  top: -9px;
  left: 0;
  position: absolute;
}

#front-chimney-left-cap {
  grid-column: 1/4;
  grid-row: 2;
  width: 28px;
  height: 8px;
  top: 0;
  left: -3px;
  position: relative;
  border-radius: 2px;
  background-color: #cf7b57;
  border-bottom: 3px solid #943f20;
  border-right: 1px solid #943f20;
  border-left: 1px solid #943f20;
}
#front-chimney-left {//body
  grid-column: 1/4;
  grid-row: 3/5;
  width: 24px;
  top: 0;
  left: -1px;
  position: relative;
  border-radius: 2px;
  background-color: #c26543;
  background: linear-gradient(0deg, #a16c4c 0%,  #c26543 20%);
  border: 1px solid #5e270c;
  border-bottom-width: 0;
  border-top-width: 0;
  box-shadow: 10px 7px 8px -5px rgba(0, 0, 0, 0.2);
}

#front-bottom-wall-left {
  grid-column: 1/3;
  grid-row: 4/6;
  border: 2px solid #4d2714;
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
  width: 16px;
  top: 0;
  left: -2px;
  position: relative;
  border-radius: 2px;
  background: linear-gradient(20deg, #dcb685 0%,  #d2b083 100%);
  box-shadow: 8px 14px 8px -5px rgba(0, 0, 0, 0.4);
}
#front-base-left {
  grid-column: 1;
  grid-row: 6/7;
  background-color: #b55a32;
  box-shadow: inset 0px 5px 2px -3px rgba(0, 0, 0, 0.6);
}


#front-top-wall-right {
  grid-column: 6/-1;
  grid-row: 1;
  background: linear-gradient(20deg, #bf8a60 0%,  #a27d59 100%);
  border: 1px solid #835f45;
  border-bottom-width: 0px;
  width: 12px;
  height: 14px;
  top: -9px;
  right: 0;
  position: absolute;
  box-shadow: -12px 6px 4px 0px  rgba(#000000, 0.6);

  z-index: 5;
}

#front-chimney-right-cap {
  grid-column: 5/-1;
  grid-row: 2;
  width: 27px;
  height: 8px;
  top: 0;
  left: -1px;
  position: relative;
  border-radius: 2px;
  background-color: #c46e53;
  border-bottom: 3px solid #954426;
  border-right: 1px solid #943f20;
  border-left: 1px solid #943f20;
  box-shadow: -13px 3px 6px -1px  rgba(#000000, 0.6);
  z-index: 5;
}
.shadow-brk-roof {
  opacity: .5;
  // filter: blur(4px);
  background: black;
}
#front-chimney-right {//body
  grid-column: 5/-1;
  grid-row: 3/5;
  width: 24px;
  top: 0;
  right: -1px;
  position: relative;
  border-radius: 2px;
  background: linear-gradient(0deg, #a16c4c 0%,  #c26543 20%);
  border: 1px solid #5e270c;
  border-bottom-width: 0;
  border-top-width: 0;
  box-shadow: -13px -5px 5px -4px  rgba(#000000, .6);
  z-index: 20;
}
#front-bottom-wall-right {
  grid-column: 6/-1;
  grid-row: 4/6;
  width: 16px;
  top: 0;
  right: 0;
  position: relative;
  background: linear-gradient(0deg, #c09874 0%, #cfb091 30%,#cfb091 70%, #b79673 100%);
  border-top-width: 0;
  border: 1px solid #4d2714;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-radius: 2px;
  z-index: 20;
  // box-shadow: -15px -2px 2px -1px  rgba(#000000, 0.3);

}
#front-base-right {
  grid-column: 7;
  grid-row: 6/7;
  background-color: #b55a32;
}

#brick-roof-shad-container {
   grid-column: 16;
   grid-row: 14;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 3px;
   width: 14px;
   filter: blur(2px);
   z-index: 15;
  //  overflow: hidden;
}
#brick-roof-shad1 { //chimney shadow
  z-index: 10;
  top: -24px;
  right: -94px;
  background: rgba(#000000, 0.5);
  // opacity: .8;
  position: absolute;
  height: 100px;
  width: 130px;
// /*   -webkit-clip-path: polygon(100% 15%, 86% 6%, 65% 19%, 65% 35%, 70% 37%, 75% 37%, 100% 61%); */
clip-path: polygon(100% 15%, 86% 6%, 65% 19%, 65% 35%, 70% 37%, 75% 37%, 100% 61%);
}

#brick-roof-shad2 { //wall shadow
  z-index: 10;
  top: 31px;
  right: -112px;
  background: rgba(#000000, 0.5);
  // opacity: .8;
  position: absolute;
  height: 72px;
  width: 18px;
  -webkit-clip-path: polygon(99% 0%, 100% 100%, 69% 100%, 1% 80%, 1% 0%, 45% 0%, 46% 16%);
  clip-path: polygon(99% 0%, 100% 100%, 69% 100%, 1% 80%, 1% 0%, 45% 0%, 46% 16%);
}

.brick-gutter-top-left {
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62;
}

.brick-gutter-top-mid {
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62;
}

.brick-gutter-top-right {
  background-color: #bfa68b;
  border-bottom: 1px solid #a07e62;
}

.brick-gutter-bot-left {
  background-color: #4c2818;
  border: 3px solid #dac3a1;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}


.brick-gutter-bot-mid {
  background-color: #dac3a1;
}

.brick-gutter-bot-right {
  background-color: #745746;
}

.brick-facade {
  background: linear-gradient(45deg, #933812 0%, #a85b29 100%);
  box-shadow: -60px 130px 15px 3px rgba(#000000, 0.1);
}


.brick-attic-left{
  background-color: #b56642;
}

.brick-attic-mid{
  background-color: #c2a382;
  border-radius: 0px 0px 4px 4px;
}


.brick-container {
  overflow: hidden;
  color: ivory;
  font-family: sans-serif;
}
.brick {
  opacity: .1;
  filter: blur(1px);
  border-top: 1px solid white;
    &-odd::before {
      content: "IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII";
    }
    &-even::before {
      content: "IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII";
    }
}
