.short-house {
  grid-column: 5;
}

.short-house {
  display: grid;
  grid-template-columns: 254px;
  grid-template-rows: 434px 36px 120px 20px 28px 114px;
}

.short-sky {
  grid-row: 1;
}

.short-chimney-container {
  display: grid;
  grid-template-columns: 85px 34px 131px;
  grid-template-rows: 1fr;
}



.short-chimney {
  z-index: 10;
  display: grid;
  grid-template-columns: 2px 30px 2px;
  grid-template-rows: 10px 24px
}

.short-chimney-cap {
  grid-row: 1;
  grid-column: 1/-1;
  background-color: #925632;
  border-bottom: 3px solid #531c07;
}
.short-chimney-body {
  grid-row: 2;
  grid-column: 2;
  background: linear-gradient(50deg, #94532d 0%, #a86135 100%);
}

.short-roof {
  grid-row: 3;
}

.short-gutter {
}

.short-awning {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.short-awning-panel {
}

.short-awning {
}

.short-facade {

}

.row-eps-g {}

.row-eps-h {}

.row-eps-i {}
