.short-house {
  background: linear-gradient(180deg, #88928a 0%, #516d68 40%, #182120 64%, #182120 100%);
  grid-column: 5;
}

.short-house {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 434px 36px 120px 20px 28px 114px;
  color: ivory;
}

.short-sky {
  grid-row: 1;
  background-color: transparent;
}

.row-eps-b {
  display: grid;
  grid-template-columns: 81px 34px 131px;
  grid-template-rows: 1fr;
}

.eps-b-col-1,
.eps-b-col-3 {
  background-color: transparent;
  border-bottom: 3px solid #6f391f;
}

.short-chimney {
  background-color: #ac592d;
  border-bottom: 5px solid #96431b;
  z-index: 10;
  box-shadow: 0 56px 60px 20px #b18562;
}

.short-roof {
  grid-row: 3;
  /*58381f roof bot*/
  /*top 7f431f*/
  background: linear-gradient(180deg, #7f431f 0%,#75451d 30%, #321e0e 90%);
}

.short-gutter {
  background-color: #bfa187;
}

.short-awning {
  background-color: #c4a98e;
  border-left: 3px solid #5d391f;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.short-awning-panel {
  border-left: 1px solid #837163;
  background: linear-gradient(90deg, #998c7c 0%, rgba(46, 135, 41, 0.4) 100%);
}

.short-awning {
  background-color: #7b8378;
}

.short-facade {
  background: linear-gradient(180deg, #251505 0%, #a27c55 100%);
}

.row-eps-g {}

.row-eps-h {}

.row-eps-i {}
